{% extends "root.html" %} {% block main %}
<div class="brandstoryContainer">
  <div class="pageWidth clearBoth">
    <div class="contentBox">
      <div class="contentItem">
        <h2>经商创业，“非典”成就梦想</h2>
        <p>
          公司成立之初就因为全新的创业理念而得到了一些投资方的青睐，资金问题很快得到了落实。再加上“非典”之后医疗理念革新的契机，美康生物起步迅速。经过研发人员的日夜奋战，美康生物一投产便推出了３０多种试剂，各大医疗机构临床试验后发现，美康产品在质量上毫不逊色于进口产品，而价格却远低于进口产品，由此，美康生物的牌子一炮走红。
        </p>
      </div>
      <div class="contentItem">
        <h2>十年创新研发，孕育出一匹体外诊断“黑马”</h2>
        <p>
          公司创业之初，只有10个员工。2012年，“美康生物”的员工已突破500人，销售总额突破3亿元，实现税收近6000万元。短短10年时间，“美康生物”高速发展靠什么？“科技创新，以人为本。”从创业之初，邹炳德就坚持这一发展理念。面对强大的国际品牌，邹炳德更认定创新是企业的唯一出路，也是民族品牌崛起的必由之路。
        </p>
      </div>
      <div class="contentItem">
        <h2>公司成功上市</h2>
        <p>
          2011年至2013年，美康生物公司体外诊断试剂销量和销售收入年平均增长率均超过40%，公司净利润年平均增长率超过30%，市场份额年平均增长率超过20%。2014年，公司实现营业总收入5.98亿元，净利润1.38亿元，与2013年同比分别增长38.4%和33%。2015年4月22日，美康生物在创业板上市，到5月7日其股价较发行价上涨了273%。
        </p>
      </div>

      <div class="contentItem">
        <h2>关注百姓，热衷公益</h2>
        <p>
          在扎扎实实做大做强产业的同时，邹炳德一直热衷公益事业，积极履行社会责任，伸出扶贫之手。2008年的汶川大地震、2010年青海玉树地震，处处都有美康企业帮危扶困的身影。近年来，邹炳德以个人名义资助了4名地震失学儿童重返校园；同时，为支持鄞州区慈善事业，特设立贰佰万元“美康生物慈善扶贫基金”，专门用于扶助下应街道贫困家庭，开展各类救助活动。2009年至2011年，企业向各级红十字会和慈善基金捐款80多万元，2009年在公司内部设立慈善基金，对有困难职工给予必要的经济帮助和人文关怀。近年来，公司累计捐赠己近280万元，践行了一个企业家的社会责任感
        </p>
      </div>
    </div>
    <div class="contentList">
      <h3>
        <span>品牌</span>故事</h3>
      <ul>
        <li>经商创业，“非典”成就梦想</li>
        <li>十年创新研发，孕育出一匹体外诊断“黑马”</li>
        <li>公司成功上市</li>
        <li>关注百姓，热衷公益</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}