{% extends "root.html" %} {% block main %}
<div class="chronicdiseaseContainer">
  <section class="section1 clearBoth">
    <div class="pageWidth">
      <div class="leftBox">
        <h1>
          基层社区慢病管理
          <br>智慧化解决方案
        </h1>
        <p>
          助力区域卫计委 、区域社区中心全面推进 “国家分级诊疗 政策” 实施！
        </p>
      </div>
    </div>
  </section>
  <section class="section2 clearBoth">
    <div class="pageWidth">
      <div class="imgBox">
        <img src="/public/img/products/img_product_mkcloud.png" alt="">
      </div>
      <div class="textBox">
        <h1>
          慢病管理整体架构
        </h1>
        <div class="itemList">
          <li>
            <img src="/public/img/products/icon_product_15189.png" alt="">完善的基层慢病管理结构，增强了基层医院的影响力</li>
          <li>
            <img src="/public/img/products/icon_product_15189.png" alt="">提高社区服务站业务能力</li>
          <li>
            <img src="/public/img/products/icon_product_15189.png" alt="">使慢病管理更加科学高效</li>
          <li>
            <img src="/public/img/products/icon_product_15189.png" alt="">提高区域家庭医生的签约率</li>
          <li>
            <img src="/public/img/products/icon_product_15189.png" alt="">有效的管理慢病，可以大幅减少医保压力</li>
          <li>
            <img src="/public/img/products/icon_product_15189.png" alt="">减少慢病带来的各种症状与不适，提高人民群众的生活质量</li>
        </div>
      </div>
    </div>
  </section>
  <section class="section3">
    <div class="pageWidth clearBoth">
      <div class="textBox">
        <h1>
          “医卫士APP”移动版本
        </h1>
        <div class="itemBox clearBoth">
          <div class="itemList">
            <div class="itemContent">
              <div class="titleBox">
                移动签约
              </div>
              <div class="contentBox">
                自主选择签约医生，在线签约
              </div>
            </div>
            <div class="itemContent">
              <div class="titleBox">
                在线咨询
              </div>
              <div class="contentBox">
                签约医生后实时沟通，语音，图片聊天
              </div>
            </div>
            <div class="itemContent">
              <div class="titleBox">
                预约挂号
              </div>
              <div class="contentBox">
                合作医院在线挂号
              </div>
            </div>
            <div class="itemContent">
              <div class="titleBox">
                检测报告
              </div>
              <div class="contentBox">
                医院报告在线查询
              </div>
            </div>
          </div>
          <div class="itemList">
            <div class="itemContent" style="margin-left: -41px;">
              <div class="titleBox">
                物联网健康设备
              </div>
              <div class="contentBox">
                健康检测设备，手机联网操作
              </div>
            </div>
            <div class="itemContent">
              <div class="titleBox">
                健康记录
              </div>
              <div class="contentBox">
                指标异常监测提示
              </div>
            </div>
            <div class="itemContent">
              <div class="titleBox">
                健康资讯
              </div>
              <div class="contentBox">
                健康宣教
              </div>
            </div>
            <div class="itemContent">
              <div class="titleBox">
                我的家庭
              </div>
              <div class="contentBox">
                家人健康管理
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section4">

  </section>
  <section class="section5">
    <img src="/public/img/products/icon_product_mbarrow.png" alt="">
    <h1>慢病数据平台</h1>
    <p>
      慢性病监测与管理——区域慢病状况统计报表
    </p>
  </section>
  <section class="section6">
    <div class="pageWidth">
      <div class="contentBox">
        <img src="/public/img/products/bg_rent.png" alt="">
        <div class="textBox">
          <h1>设备租赁平台</h1>
          <div class="textContent">
            <span>用户建档</span>
            <span>租赁管理</span>
            <span>到期提醒</span>
            <br>
            <span>数据分析</span>
            <span>远程监控</span>
          </div>
        </div>
      </div>

    </div>

  </section>
  <section class="section7">
    <div class="pageWidth clearBoth">
      <div class="textBox">
        <h1>
          医生签约平台
        </h1>
        <p>
          支持移动端签约的发起与审核，线下线上双流程,扩大覆盖面，简化流程;
          <br>实现移动端管理签约客户，分类、建组、文字语音图片单聊与群聊;
          <br>实现移动端查看病人档案，及检测报告; 提供签约居民设备租赁增值服务;
          <br>通过配套健康硬件,可实现在线查看检测报告，医生远程实时健康监测功能;
          <br>流畅模块化电脑端&移动端软件，将传统签约网络化;
        </p>
      </div>
    </div>
  </section>
  <section class="section8">
    <div class="pageWidth">
      <h1>慢病管理硬件产品系列</h1>
      <div class="swiperContainer">
        <div class="swiperBtn swleftBtn">
          <i class="iconfont">&#xe6a5;</i>
        </div>
        <div class="swiperBtn swrightBtn">
          <i class="iconfont">&#xe62f;</i>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper" >
            <div class="swiper-slide swiper-slide-visible swiper-slide-active" >
              <div class="imgBox">
                <img src="/public/img/products/img_product_mb1.png" alt="">
                <span>
                    智能血压计
                </span>
              </div>
            </div>
            <div class="swiper-slide swiper-slide-visible" >
              <div class="imgBox">
                  <img src="/public/img/products/img_product_mb2.png" alt="">
                  <span>
                      智能血压计
                  </span>
              </div>
            </div>
            <div class="swiper-slide swiper-slide-visible" >
              <div class="imgBox">
                  <img src="/public/img/products/img_product_mb3.png" alt="">
                  <span>
                      智能血压计
                  </span>
              </div>
            </div>
            <div class="swiper-slide" >
              <div class="imgBox">
                  <img src="/public/img/products/img_product_mb4.png" alt="">
                  <span>
                      智能血压计
                  </span>
              </div>
            </div>
            <div class="swiper-slide" >
              <div class="imgBox">
                  <img src="/public/img/products/img_product_mb5.png" alt="">
                  <span>
                      智能血压计
                  </span>
              </div>
            </div>
            <div class="swiper-slide" >
              <div class="imgBox">
                  <img src="/public/img/products/img_product_mb6.png" alt="">
                  <span>
                      智能血压计
                  </span>
              </div>
            </div>
            <div class="swiper-slide" >
              <div class="imgBox">
                  <img src="/public/img/products/img_product_mb7.png" alt="">
                  <span>
                      智能血压计
                  </span>
              </div>
            </div>
            <div class="swiper-slide" >
              <div class="imgBox">
                  <img src="/public/img/products/img_product_mb8.png" alt="">
                  <span>
                      智能血压计
                  </span>
              </div>
            </div>
            <div class="swiper-slide" >
              <div class="imgBox">
                  <img src="/public/img/products/img_product_mb9.png" alt="">
                  <span>
                      智能血压计
                  </span>
              </div>
            </div>
            <div class="swiper-slide" >
              <div class="imgBox">
                  <img src="/public/img/products/img_product_mb10.png" alt="">
                  <span>
                      智能血压计
                  </span>
              </div>
            </div>
            <div class="swiper-slide" >
              <div class="imgBox">
                  <img src="/public/img/products/img_product_mb11.png" alt="">
                  <span>
                      智能血压计
                  </span>
              </div>
            </div>
            <div class="swiper-slide" >
              <div class="imgBox">
                  <img src="/public/img/products/img_product_mb12.png" alt="">
                  <span>
                      智能血压计
                  </span>
              </div>
            </div>
            <div class="swiper-slide" >
              <div class="imgBox">
                  <img src="/public/img/products/img_product_mb13.png" alt="">
                  <span>
                      智能血压计
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
  $(function () {
    var mySwiper = new Swiper('.swiper-container', {
      paginationClickable: true,
      slidesPerView: 6,
      loop: true
    })
    $('.swleftBtn').on('click', function (e) {
      e.preventDefault()
      mySwiper.swipePrev()
    })
    $('.swrightBtn').on('click', function (e) {
      e.preventDefault()
      mySwiper.swipeNext()
    })

  })
</script>

{% endblock %}