{% extends "root.html" %} {% block main %}
<div class="closetomkContainer">
  <div class="banner">
    <div class="textBox">
      <div class="topBorder"></div>
      <div class="bottomBorder"></div>
      美康生物主要产业为体外生化诊断试剂、仪器及独立第三方医学诊断服务。
      <br> 公司秉承以人为本、科技创新的宗旨来建立自己的特色，严格按照GMP标准组织生产，自主研发的医学体外断试剂在国内处于领先水平。
    </div>
    <a href="">
      <button>企业简介</button>
    </a>
  </div>
  <section class="section1 clearBoth">
    <div class="pageWidth">
      <div class="leftBox">
        <h1>
          合作共赢
        </h1>
        <p>
          分公司物公司网站，分公司感谢您分公司这些分公司年来对美！ 时光荏苒，白驹过隙，美康生物走过了10余载。自2003年成立以来，美康生物从一个单...
        </p>
        <a href="">
          <button class="mk-btn">阳光100战略合作</button>
        </a>
      </div>
    </div>
  </section>
  <section class="section2">
    <div class="leftBox">
      宗旨：科技创新、以人为本
      <br> 使命：生命、阳光、美康
      <br> —— 致力于人类健康事业，让生命充满阳光。
      <div class="btnBox">
        <a href="">
          <button class="mk-btn-o">了解企业文化</button>
        </a>
      </div>

    </div>
    <div class="rightBox">
      <div class="videoBox">
        <img src="/public/img/closetomk/icon_video.png" alt="">
        <div class="titleBox">
          <h2>公司视频</h2>
          <p>COMPANY VIDEO</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section3">
    <div class="pageWidth">
      <div class="developRoad">
        <div class="slideBtn leftBtn">
          <i class="iconfont">&#xe6a5;</i>
        </div>
        <div class="slideBtn rightBtn">
          <i class="iconfont">&#xe62f;</i>
        </div>
        <div class="maskBox">
          <ul class="roadBox clearBoth">
            <li>
              <div class="timeBox">
                2009
              </div>
              <div class="point"></div>
              <div class="content">
                新厂乔迁，被评为“宁波市工程技术中心”，成立参考实验室，标志着美康产品逐步实现国际标准化
              </div>
            </li>
            <li>
              <div class="timeBox">
                2010
              </div>
              <div class="point"></div>
              <div class="content">
                参考实验室参加IFCC-RELA实验，成绩合格，胱氨酸蛋白酶抑制剂C免疫浊度法检测试剂盒荣获“国家火炬计划项目”
              </div>
            </li>
            <li>
              <div class="timeBox">
                2011
              </div>
              <div class="point"></div>
              <div class="content">
                被评为“国家火炬计划重点高新技术企业” 、“浙江省高新技术企业研究开发中心”，“糖化血红蛋白检测试剂盒”荣获“宁波市科技进步二等奖”，“酶法糖化血红蛋白检测试剂盒”被列入“国家重点新产品”
              </div>
            </li>
            <li>
              <div class="timeBox">
                2012
              </div>
              <div class="point"></div>
              <div class="content">
                荣获“浙江创新型试点企业”、“浙江省企业技术中心”，氧化法总胆红素检测试剂盒荣获国家创新基金重点项目，获得由美国CDC颁发的“胆固醇项目国际溯源证书”
              </div>
            </li>
            <li>
              <div class="timeBox">
                2012
              </div>
              <div class="point"></div>
              <div class="content">
                荣获“浙江创新型试点企业”、“浙江省企业技术中心”，氧化法总胆红素检测试剂盒荣获国家创新基金重点项目，获得由美国CDC颁发的“胆固醇项目国际溯源证书”
              </div>
            </li>
            <li>
              <div class="timeBox">
                2012
              </div>
              <div class="point"></div>
              <div class="content">
                荣获“浙江创新型试点企业”、“浙江省企业技术中心”，氧化法总胆红素检测试剂盒荣获国家创新基金重点项目，获得由美国CDC颁发的“胆固醇项目国际溯源证书”
              </div>
            </li>
            <li>
              <div class="timeBox">
                2012
              </div>
              <div class="point"></div>
              <div class="content">
                荣获“浙江创新型试点企业”、“浙江省企业技术中心”，氧化法总胆红素检测试剂盒荣获国家创新基金重点项目，获得由美国CDC颁发的“胆固醇项目国际溯源证书”
              </div>
            </li>
            <li>
              <div class="timeBox">
                2012
              </div>
              <div class="point"></div>
              <div class="content">
                荣获“浙江创新型试点企业”、“浙江省企业技术中心”，氧化法总胆红素检测试剂盒荣获国家创新基金重点项目，获得由美国CDC颁发的“胆固醇项目国际溯源证书”
              </div>
            </li>
            <li>
              <div class="timeBox">
                2012
              </div>
              <div class="point"></div>
              <div class="content">
                荣获“浙江创新型试点企业”、“浙江省企业技术中心”，氧化法总胆红素检测试剂盒荣获国家创新基金重点项目，获得由美国CDC颁发的“胆固醇项目国际溯源证书”
              </div>
            </li>
            <li>
              <div class="timeBox">
                2012
              </div>
              <div class="point"></div>
              <div class="content">
                荣获“浙江创新型试点企业”、“浙江省企业技术中心”，氧化法总胆红素检测试剂盒荣获国家创新基金重点项目，获得由美国CDC颁发的“胆固醇项目国际溯源证书”
              </div>
            </li>
            <li>
              <div class="timeBox">
                2012
              </div>
              <div class="point"></div>
              <div class="content">
                荣获“浙江创新型试点企业”、“浙江省企业技术中心”，氧化法总胆红素检测试剂盒荣获国家创新基金重点项目，获得由美国CDC颁发的“胆固醇项目国际溯源证书”
              </div>
            </li>
            <li>
              <div class="timeBox">
                2012
              </div>
              <div class="point"></div>
              <div class="content">
                荣获“浙江创新型试点企业”、“浙江省企业技术中心”，氧化法总胆红素检测试剂盒荣获国家创新基金重点项目，获得由美国CDC颁发的“胆固醇项目国际溯源证书”
              </div>
            </li>

          </ul>
        </div>
      </div>
      <div class="btnBox">
        <a href="">
          <button class="mk-btn-o">发展历程</button>
        </a>
      </div>

    </div>
  </section>
  <section class="section4 clearBoth">
    <div class="pageWidth">
      <div class="imgBox">
        <img src="/public/img/closetomk/bg_zjmk_zeren.png" alt="">
      </div>
      <div class="leftBox">
        <h1>
          社会责任
        </h1>
        <p>
          分公司物公司网站，分公司感谢您分公司这些分公司年来对美！分公司物公司网站，分公司感谢您分公司这些分公司年时光荏苒，白驹过隙，美康生物走过了10余载。自2003年成立以来，美康生物从一个单...
        </p>
      </div>
    </div>
  </section>
  <section class="section5">
    <div class="pageWidth">
      <h1>企业荣誉</h1>
      <div class="slideBox">
          <div class="swiperBtn swleftBtn">
              <i class="iconfont">&#xe6a5;</i>
            </div>
            <div class="swiperBtn swrightBtn">
              <i class="iconfont">&#xe62f;</i>
            </div>
        <div class="swiper-container">
          <div class="swiper-wrapper" style="width: 3080px; height: 250px; transform: translate3d(-660px, 0px, 0px); transition-duration: 0.3s;">
            <div class="swiper-slide red-slide swiper-slide-visible swiper-slide-active" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor1_l.png" alt="">
              </div>
            </div>
            <div class="swiper-slide blue-slide swiper-slide-visible" style="width: 220px; height: 250px;">
                <div class="imgBox">
                  <img src="/public/img/closetomk/honor/img_honor2_l.png" alt="">
                </div>
            </div>
            <div class="swiper-slide orange-slide swiper-slide-visible" style="width: 220px; height: 250px;">
                <div class="imgBox">
                    <img src="/public/img/closetomk/honor/img_honor3_l.png" alt="">
                  </div>
            </div>
            <div class="swiper-slide green-slide" style="width: 220px; height: 250px;">
                <div class="imgBox">
                    <img src="/public/img/closetomk/honor/img_honor4_l.png" alt="">
                  </div>
            </div>
            <div class="swiper-slide pink-slide" style="width: 220px; height: 250px;">
                <div class="imgBox">
                    <img src="/public/img/closetomk/honor/img_honor5_l.png" alt="">
                  </div>
            </div>
            <div class="swiper-slide red-slide" style="width: 220px; height: 250px;">
                <div class="imgBox">
                    <img src="/public/img/closetomk/honor/img_honor6_l.png" alt="">
                  </div>
            </div>
            <div class="swiper-slide blue-slide" style="width: 220px; height: 250px;">
                <div class="imgBox">
                    <img src="/public/img/closetomk/honor/img_honor7_l.png" alt="">
                  </div>
            </div>
            <div class="swiper-slide orange-slide" style="width: 220px; height: 250px;">
                <div class="imgBox">
                    <img src="/public/img/closetomk/honor/img_honor8_l.png" alt="">
                  </div>
            </div>
            <div class="swiper-slide orange-slide" style="width: 220px; height: 250px;">
                <div class="imgBox">
                    <img src="/public/img/closetomk/honor/img_honor9_l.png" alt="">
                  </div>
            </div>
            <div class="swiper-slide orange-slide" style="width: 220px; height: 250px;">
                <div class="imgBox">
                    <img src="/public/img/closetomk/honor/img_honor10_l.png" alt="">
                  </div>
            </div>
            <div class="swiper-slide orange-slide" style="width: 220px; height: 250px;">
                <div class="imgBox">
                    <img src="/public/img/closetomk/honor/img_honor11_l.png" alt="">
                  </div>
            </div>
            <div class="swiper-slide orange-slide" style="width: 220px; height: 250px;">
                <div class="imgBox">
                    <img src="/public/img/closetomk/honor/img_honor12_l.png" alt="">
                  </div>
            </div>
            <div class="swiper-slide orange-slide" style="width: 220px; height: 250px;">
                <div class="imgBox">
                    <img src="/public/img/closetomk/honor/img_honor13_l.png" alt="">
                  </div>
            </div>
            <div class="swiper-slide orange-slide" style="width: 220px; height: 250px;">
                <div class="imgBox">
                    <img src="/public/img/closetomk/honor/img_honor14_l.png" alt="">
                  </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
  <section class="section6 clearBoth">
      <div class="pageWidth">
        <div class="imgBox">
          <img src="/public/img/closetomk/img_zjmk_gjmarket.png" alt="">
        </div>
        <div class="leftBox">
          <h1>
            全球市场
          </h1>
          <p>
              专业用心的服务团队，高效优质的服务意识，为客户打造专属。 心的服务团队，高效优质的服务意识，为客户打造专属的技术服务专业用心的服务团队，高效优质的服务意识，为客户打。
            </p>
        </div>
      </div>
    </section>
  </section>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
  $(function () {
    var $road = $('.developRoad')
    var $leftBtn = $road.find('.leftBtn')
    var $rightBtn = $road.find('.rightBtn')
    var $slideUl = $road.find('ul')
    var liCount = $road.find('li').length
    var totalWidth = liCount * 180;
    var totalTime = liCount * 500;
    var totalSlideNum = -1 * totalWidth + 1200

    $slideUl.css({
      width: totalWidth + 'px'
    })

    $leftBtn.hover(function () {
      $slideUl.velocity('stop').velocity({
        marginLeft: 0 + 'px'
      }, getNowTime(), 'linear')
    }, function () {
      $slideUl.velocity('stop')
    })

    $rightBtn.hover(function () {
      $slideUl.velocity('stop').velocity({
        marginLeft: totalSlideNum + 'px'
      }, getNowTime(true), 'linear')
    }, function () {
      $slideUl.velocity('stop')
    })

    function getNowTime(right) {
      var ts = totalSlideNum / 1
      var tt = totalTime / 1
      var nows = ($slideUl.css('margin-left').replace('px', '') || 0) / 1
      return right ? (tt - nows / ts * tt) : (nows / ts * tt)
    }

  })
  $(function () {
    var mySwiper = new Swiper('.swiper-container', {
      paginationClickable: true,
      slidesPerView: 3,
      loop: true
    })
    $('.swleftBtn').on('click', function(e){
      e.preventDefault()
      mySwiper.swipePrev()
    })
    $('.swrightBtn').on('click', function(e){
      e.preventDefault()
      mySwiper.swipeNext()
    })

  })
</script>

{% endblock %}