{% extends "root.html" %} {% block main %}
<div class="developContainer">
  <section class="developRoad pageWidth">
    <h1>企业发展历程</h1>
    <div class="developList">
      <li>
        <div class="contentBox">
          <div class="greenPoint"></div>
          <div class="time">2017</div>
          <div class="content">成为JCTLM利益相关成员</div>
        </div>
      </li>
      <li>
        <div class="contentBox">
          <div class="greenPoint"></div>
          <div class="time">2016</div>
          <div class="content">
            美康生物正式获得CNAS医学参考实验室认可
            <br> 美康生物正式获得国家企业技术中心认定
          </div>
        </div>
      </li>
      <li>
        <div class="contentBox">
          <div class="greenPoint"></div>
          <div class="time">2015</div>
          <div class="content">美康生物在深交所创业板成功上市（股票代码300439）</div>
        </div>
      </li>
      <li>
        <div class="contentBox">
          <div class="greenPoint"></div>
          <div class="time">2014</div>
          <div class="content">被评为“浙江省重点企业研究院”，“胱氨酸蛋白酶抑制剂c检测试剂盒关键技术研究与产业化”项目获得宁波市科技进步一等奖，“酶法糖化血红蛋白检测试剂盒”发明专利获得第十六届中国专利优秀奖</div>
        </div>

      </li>
      <li>
        <div class="contentBox">
          <div class="greenPoint"></div>
          <div class="time">2013</div>
          <div class="content">被国家人社部，全国博士后管委会授予“国家博士后科研工作站”，与中科院上海生化与细胞研究所共建“院士工作站”MS-480荣获“浙江省装备制造业首台(套)产品”，新型免疫诊断试剂及配套仪器研发项被列入“宁波重大科研专项”</div>
        </div>

      </li>
      <li>
        <div class="contentBox">
          <div class="greenPoint"></div>
          <div class="time">2012</div>
          <div class="content">荣获“浙江创新型试点企业”、“浙江省企业技术中心”，氧化法总胆红素检测试剂盒荣获国家创新基金重点项目，获得由美国CDC颁发的“胆固醇项目国际溯源证书”</div>
        </div>

      </li>
      <li>
        <div class="contentBox">
          <div class="greenPoint"></div>
          <div class="time">2011</div>
          <div class="content">被评为“国家火炬计划重点高新技术企业” 、“浙江省高新技术企业研究开发中心”，“糖化血红蛋白检测试剂盒”荣获“宁波市科技进步二等奖”，“酶法糖化血红蛋白检测试剂盒”被列入“国家重点新产品”</div>
        </div>
      </li>
    </div>
    <div class="maskBox">
      <button class="openAll">展开全部 >> </button>
    </div>
  </section>
  <section class="honorSection">
    <div class="pageWidth">
      <h1>企业荣誉</h1>
      <div class="swiperContainer">
        <div class="swiperBtn swleftBtn">
          <i class="iconfont">&#xe6a5;</i>
        </div>
        <div class="swiperBtn swrightBtn">
          <i class="iconfont">&#xe62f;</i>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper" style="width: 3080px; height: 250px; transform: translate3d(-660px, 0px, 0px); transition-duration: 0.3s;">
            <div class="swiper-slide red-slide swiper-slide-visible swiper-slide-active" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor1_l.png" alt="">
              </div>
            </div>
            <div class="swiper-slide blue-slide swiper-slide-visible" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor2_l.png" alt="">
              </div>
            </div>
            <div class="swiper-slide orange-slide swiper-slide-visible" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor3_l.png" alt="">
              </div>
            </div>
            <div class="swiper-slide green-slide" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor4_l.png" alt="">
              </div>
            </div>
            <div class="swiper-slide pink-slide" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor5_l.png" alt="">
              </div>
            </div>
            <div class="swiper-slide red-slide" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor6_l.png" alt="">
              </div>
            </div>
            <div class="swiper-slide blue-slide" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor7_l.png" alt="">
              </div>
            </div>
            <div class="swiper-slide orange-slide" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor8_l.png" alt="">
              </div>
            </div>
            <div class="swiper-slide orange-slide" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor9_l.png" alt="">
              </div>
            </div>
            <div class="swiper-slide orange-slide" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor10_l.png" alt="">
              </div>
            </div>
            <div class="swiper-slide orange-slide" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor11_l.png" alt="">
              </div>
            </div>
            <div class="swiper-slide orange-slide" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor12_l.png" alt="">
              </div>
            </div>
            <div class="swiper-slide orange-slide" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor13_l.png" alt="">
              </div>
            </div>
            <div class="swiper-slide orange-slide" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/closetomk/honor/img_honor14_l.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="honorList">
        <ul class="clearBoth">
          <li>
              <img src="/public/img/closetomk/honor/img_honor1_l.png" alt="">
              <div class="maskBox"></div>
          </li>
          <li>
              <img src="/public/img/closetomk/honor/img_honor2_l.png" alt="">
              <div class="maskBox"></div>
          </li>
          <li>
              <img src="/public/img/closetomk/honor/img_honor3_l.png" alt="">
              <div class="maskBox"></div>
          </li>
          <li>
              <img src="/public/img/closetomk/honor/img_honor4_l.png" alt="">
              <div class="maskBox"></div>
          </li>
          <li>
              <div class="maskBox"></div>
              <img src="/public/img/closetomk/honor/img_honor5_l.png" alt="">
          </li>
          <li>
              <div class="maskBox"></div>
              <img src="/public/img/closetomk/honor/img_honor6_l.png" alt="">
          </li>
          <li>
              <div class="maskBox"></div>
              <img src="/public/img/closetomk/honor/img_honor7_l.png" alt="">
          </li>
          <li>
              <div class="maskBox"></div>
              <img src="/public/img/closetomk/honor/img_honor8_l.png" alt="">
          </li>
          <li>
              <div class="maskBox"></div>
              <img src="/public/img/closetomk/honor/img_honor9_l.png" alt="">
          </li>
          <li>
              <div class="maskBox"></div>
              <img src="/public/img/closetomk/honor/img_honor10_l.png" alt="">
          </li>
          <li>
              <div class="maskBox"></div>
              <img src="/public/img/closetomk/honor/img_honor11_l.png" alt="">
          </li>
          <li>
              <div class="maskBox"></div>
              <img src="/public/img/closetomk/honor/img_honor12_l.png" alt="">
          </li>
          <li>
              <div class="maskBox"></div>
              <img src="/public/img/closetomk/honor/img_honor13_l.png" alt="">
          </li>
          <li>
              <div class="maskBox"></div>
              <img src="/public/img/closetomk/honor/img_honor14_l.png" alt="">
          </li>
        </ul>
      </div>
    </div>

  </section>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
  $(function () {
    var $liList = $('.developList').find('li')
    for (var i = 0; i < $liList.length; i++) {
      if (i % 2 == 0) {
        $($liList[i]).addClass('right')
      } else {
        $($liList[i]).addClass('left')
      }
    }
  })

  $(function () {
    $('.openAll').click(function (e) {
      $('.maskBox').css({
        display: 'none'
      })
      $('.developRoad').css({
        height: 'auto',
        paddingBottom: '100px'
      })
    })
  })

  var mySwiper

  $(function () {
    mySwiper = new Swiper('.swiper-container', {
      paginationClickable: true,
      slidesPerView: 1,
      loop: true
    })
    $('.swleftBtn').on('click', function (e) {
      e.preventDefault()
      mySwiper.swipePrev()
    })
    $('.swrightBtn').on('click', function (e) {
      e.preventDefault()
      mySwiper.swipeNext()
    })

  })

  $(function(){
    var honorLi = $('.honorList').find('li');
    $(honorLi).click(function(){
      var index = $(this).index()
      $(honorLi).removeClass('active')
      $(this).addClass('active')
      mySwiper.swipeTo(index, 1000, false);
      var offsetLeft = $(this)[0].offsetLeft;
      $('.honorList').animate({
        scrollLeft: offsetLeft - 650
      })
    })
    
  })
</script>

{% endblock %}