{% extends "root.html" %} {% block main %}
<div class="globalmarketContainer">
  <section class="section1">
    <div class="pageWidth clearBoth">
      <div class="imgBox">
        <img src="/public/img/closetomk/img_zjmk_gnmarket.png" alt="">
      </div>
      <div class="textBox">
        <h1>国内市场</h1>
        <h2>CHINA MARKET</h2>
        <div class="textItem">
          <img src="/public/img/closetomk/icon_zjmk_banshichu.png" alt="">
          <span class="textPlace">省级办事处</span> 近
          <span class="textNum">30</span>个
        </div>
        <div class="textItem">
          <img src="/public/img/closetomk/icon_zjmk_konggu.png" alt="">
          <span class="textPlace">控股子公司</span>
          <span class="textNum">10</span>余家
        </div>
        <div class="textItem">
          <img src="/public/img/closetomk/icon_zjmk_dishiji.png" alt="">
          <span class="textPlace">地市级经销商</span> 近
          <span class="textNum">1700</span>家
        </div>
      </div>
    </div>

  </section>
  <section class="section2">
      <div class="pageWidth clearBoth">
        <div class="imgBox">
          <img src="/public/img/closetomk/img_zjmk_gjmarket.png" alt="">
        </div>
        <div class="textBox">
          <h1>国际市场</h1>
          <h2>INTERNATIONAL  MARKET</h2>
          <p>
              目前在欧洲、亚洲、非洲、拉丁美洲等地区实现了销售，其中包括英国、意大利、韩国等发达国家
          </p>
        </div>
      </div>
  
    </section>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}