{% extends "root.html" %} {% block main %}
<div class="hrContainer">
  <section class="section1">
    <div class="pageWidth">
        <h1>加入我们</h1>
        <p>
            美康生物视人才为企业第一资源，把依靠人才作为企业发展的根本前提，把尊重人才作为企业发展的根本准则，把推进企业和员工共同发展作为人才战略的根本任务。 在人力资源实践活动中，美康生物善于为各类人才提供充分施展才华的舞台，做到人尽其才，才尽其用。
        </p>
        <div class="btnBox">
          <a href=""><button>校园招聘</button></a>
          <a href=""><button>社会招聘</button></a>
        </div>
    </div>
    
  </section>
  <section class="section2 clearBoth">
    <div class="leftBox">
      <p>
        欢迎您登陆美康生物网站！
      </p>
     <a href=""><button class="mk-btn">人才战略</button></a> 
    </div>
    <div class="rightBox">
      <p>
        欢迎您登陆美康生物网站！
      </p>
      <a href=""><button class="mk-btn">走进员工生活</button></a> 
    </div>
  </section>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}