{% extends "root.html" %} {% block main %}
<div class="hrcampusContainer">
  <div class="pageWidth">
      <div class="list">
          <div class="item">
            <div class="itemHeader">
                雏鹰工程——新员工入职计划、营销集训计划、技术团队集训计划(Eyas Programme)
            </div>
            <div class="itemBody">
                <b>招聘要求：</b>本科，专业不限，市场营销、医学检验、医学相关专业优先<br>
                <b>培养方向：</b>全国各区域销售经理<br>
                <b>培养方式：</b>经素质拓展、理论集训、各部门轮岗实践、导师带教、专业和管理能力提升、学历进修等系统培训体系
            </div>
          </div>
          <div class="item">
              <div class="itemHeader">
                  雏鹰工程——新员工入职计划、营销集训计划、技术团队集训计划(Eyas Programme)
              </div>
              <div class="itemBody">
                  <b>招聘要求：</b>本科，专业不限，市场营销、医学检验、医学相关专业优先<br>
                  <b>培养方向：</b>全国各区域销售经理<br>
                  <b>培养方式：</b>经素质拓展、理论集训、各部门轮岗实践、导师带教、专业和管理能力提升、学历进修等系统培训体系
              </div>
            </div>
            <div class="item">
                <div class="itemHeader">
                    雏鹰工程——新员工入职计划、营销集训计划、技术团队集训计划(Eyas Programme)
                </div>
                <div class="itemBody">
                    <b>招聘要求：</b>本科，专业不限，市场营销、医学检验、医学相关专业优先<br>
                    <b>培养方向：</b>全国各区域销售经理<br>
                    <b>培养方式：</b>经素质拓展、理论集训、各部门轮岗实践、导师带教、专业和管理能力提升、学历进修等系统培训体系
                </div>
              </div>
        </div>
  </div>
  
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}