{% extends "root.html" %} {% block main %}
<div class="hrlifeContainer">
  <div class="pageWidth">
    <h3>研发实验室</h3>
    <div class="imgBox">
        <img src="/public/img/hr/img_wokerlife1.png" alt="">
    </div>
    <div style="height: 50px;"></div>
    <h3>办公环境</h3>
    <div class="imgBox">
        <img src="/public/img/hr/img_wokerlife2.png" alt="">
    </div>
  </div>
  <section class="section2">
    <div class="pageWidth">
        <div class="imgBox">
            <img src="/public/img/hr/img_wokerlife3.png" alt="">
        </div>
        <div class="imgBox">
            <img src="/public/img/hr/img_wokerlife4.png" alt="">
        </div>
    </div>
      
  </section>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}