{% extends "root.html" %} {% block main %}
<div class="hrstrategyContainer">
  <section class="section1">
    <div class="pageWidth">
      <h2>人才战略规划</h2>
      <div class="list clearBoth">
        <div class="item">
          <div class="imgBox">
            <img src="/public/img/hr/icon_rlzy_rencai.png" alt="">
          </div>
          <div class="textBox">
            <h3>雏鹰工程——新员工入职计划、营销集训计划、技术团队集训计划(Eyas Programme)</h3>
            <p>
              针对新入职员工，进行一系列的相关培训，使他们快速融入企业，融入企业的文化，了解企业的制度，提升相关专业知识能力。各个部门会结合自身情况开展个性培养，包含专业课程、一线实践等等。
            </p>
          </div>
        </div>
        <div class="item">
          <div class="imgBox">
            <img src="/public/img/hr/icon_rlzy_rencai.png" alt="">
          </div>
          <div class="textBox">
            <h3>雏鹰工程——新员工入职计划、营销集训计划、技术团队集训计划(Eyas Programme)</h3>
            <p>
              针对新入职员工，进行一系列的相关培训，使他们快速融入企业，融入企业的文化，了解企业的制度，提升相关专业知识能力。各个部门会结合自身情况开展个性培养，包含专业课程、一线实践等等。
            </p>
          </div>
        </div>
        <div class="item">
          <div class="imgBox">
            <img src="/public/img/hr/icon_rlzy_rencai.png" alt="">
          </div>
          <div class="textBox">
            <h3>雏鹰工程——新员工入职计划、营销集训计划、技术团队集训计划(Eyas Programme)</h3>
            <p>
              针对新入职员工，进行一系列的相关培训，使他们快速融入企业，融入企业的文化，了解企业的制度，提升相关专业知识能力。各个部门会结合自身情况开展个性培养，包含专业课程、一线实践等等。
            </p>
          </div>
        </div>
        <div class="item">
          <div class="imgBox">
            <img src="/public/img/hr/icon_rlzy_rencai.png" alt="">
          </div>
          <div class="textBox">
            <h3>雏鹰工程——新员工入职计划、营销集训计划、技术团队集训计划(Eyas Programme)</h3>
            <p>
              针对新入职员工，进行一系列的相关培训，使他们快速融入企业，融入企业的文化，了解企业的制度，提升相关专业知识能力。各个部门会结合自身情况开展个性培养，包含专业课程、一线实践等等。
            </p>
          </div>
        </div>
      </div>
      <div class="imgBox">
        <img style="width: 100%" src="/public/img/hr/img_rlzy_liucheng.png" alt="">
      </div>
    </div>
  </section>
  <section class="section2">
      <div class="pageWidth">
        <h2>福利体系</h2>
        <div class="imgBox clearBoth">
          <div class="boxItem">
            <img src="/public/img/hr/bg_rlzy_fuli.png" alt="">
            <div class="textBox">
              <h3>礼物类</h3>
              <p>
                  生日礼物<br>
                  节日礼物<br>
                  结婚贺礼<br>
                  生育贺礼
              </p>
            </div>
          </div>
          <div class="boxItem">
              <img src="/public/img/hr/bg_rlzy_fuli.png" alt="">
              <div class="textBox">
                  <h3>补贴类</h3>
                  <p>
                      高温补贴<br>
                      不同岗位补贴<br>
                  </p>
                </div>
          </div>
          <div class="boxItem">
              <img src="/public/img/hr/bg_rlzy_fuli.png" alt="">
              <div class="textBox">
                  <h3>福利类</h3>
                  <p>
                      年度旅游<br>
                      年度体检<br>
                  </p>
                </div>
          </div>
          <div class="boxItem">
              <img src="/public/img/hr/bg_rlzy_fuli.png" alt="">
              <div class="textBox">
                  <h3>其他</h3>
                  <p>
                      免费工作餐<br>
                      免费班车<br>
                  </p>
                </div>
          </div>
        </div>
      </div>
  </section>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}