{% extends "root.html" %} {% block main %}
<div class="inspectionContainer">
  <section class="banner1">
    <div class="pageWidth">
        <div class="inspectionMap">
          <a href="" style="top: 30.8955%;left: 14.4444%"></a>
          <a href="" style="top: 30.8955%;left: 79.5556%"></a>
          <a href="" style="top: 34.6269%;left: 81.1111%"></a>
          <a href="" style="top: 40.5970%;left: 68.2222%"></a>
          <a href="" style="top: 41.6418%;left: 69.8889%"></a>
          <a href="" style="top: 48.2090%;left: 71.4444%"></a>
          <a href="" style="top: 51.9403%;left: 65.8889%"></a>
          <a href="" style="top: 52.3881%;left: 63.8889%"></a>
          <a href="" style="top: 59.1045%;left: 65.7778%"></a>
          <a href="" style="top: 63.5821%;left: 61.4444%"></a>
          <a href="" style="top: 65.8209%;left: 46.2222%"></a>
          <a href="" style="top: 66.4179%;left: 49.7778%"></a>
          <a href="" style="top: 66.4179%;left: 75.7778%"></a>
          <a href="" style="top: 70.1493%;left: 75.7778%"></a>
          <a href="" style="top: 68.3582%;left: 72.7778%"></a>
          <a href="" style="top: 81.6418%;left: 63.8889%"></a>
        </div>
    </div>
  </section>
  <div class="companyBox">
    <div class="pageWidth clearBoth">
      <div class="imgBox">
        <img src="/public/img/products/img_product_mksdlogo.png" alt="">
      </div>
      <div class="textBox">
          美康生物在区域医学检验中心运营经验方面非常成熟，近年来不断开拓业务，国内目前合作60余家二级以上医院，覆盖18个省市，30余个地区，日均检测量达到50万人次，当地医学检验水平均得到了极大程度的提升。
      </div>
    </div>
  </div>
  <section class="section3">
    <div class="pageWidth">
        <h1>区域检验中心</h1>
        <div class="listBox clearBoth">
          <li>宁波美康盛德医学检验所有限公司</li>
          <li>杭州美康盛德医学检验实验室有限公司</li>
          <li>深圳美康盛德医学检验实验室</li>
          <li>宁波康健医学检验实验室有限公司</li>
          <li>金华市美康盛德医学检验所有限公司</li>
          <li>永城美康盛德医学检验所有限公司</li>
          <li>郑州美康盛德医学检验所有限公司</li>
          <li>上饶美康盛德医学检验所有限公司</li>
        </div>
    </div>
    
  </section>
  
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
 
</script>

{% endblock %}