{% extends "root.html" %} {% block main %}
<div class="intensiveContainer">
  <div class="banner1">
  </div>
  <section class="section2">
    <div class="pageWidth">
      <h1>冷链物流</h1>
      <h2>提供一站式的冷链物流解决方案</h2>
      <div class="itemList clearBoth">
        <div class="itemContent">
          <img src="/public/img/products/icon_product_team.png" alt="">
          <p>服务团队</p>
        </div>
        <div class="itemContent">
          <img src="/public/img/products/icon_product_web.png" alt="">
          <p>服务团队</p>
        </div>
        <div class="itemContent">
          <img src="/public/img/products/icon_product_packing.png" alt="">
          <p>服务团队</p>
        </div>
        <div class="itemContent">
          <img src="/public/img/products/icon_product_service.png" alt="">
          <p>服务团队</p>
        </div>
        <div class="itemContent">
          <img src="/public/img/products/icon_product_manage.png" alt="">
          <p>服务团队</p>
        </div>
      </div>
    </div>

  </section>
  <section class="section3">
    <div class="pageWidth clearBoth">
      <div class="leftBox">
        <img src="/public/img/products/img_product_quyulis.png" alt="">
      </div>
      <div class="rightBox">
        <h1>信息区域LIS
          <small>帮助卫计委打造区域LIS平台</small>
        </h1>
        <p>
          各单位可以在本地电脑工作站和自助报告机上实时查询和打印检验报告，实现区域内的数据互联互通和检验结果共享。
        </p>
        <h3>拥有IVD领域第一张LIS系统证书</h3>
        <div class="imgBox">
          <img src="/public/img/products/img_product_lis1.png" alt="">
          <img src="/public/img/products/img_product_lis2.png" alt="">
          <img src="/public/img/products/img_product_lis3.png" alt="">
          <img src="/public/img/products/img_product_lis4.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="section4">
    <div class="pageWidth clearBoth">
      <div class="leftBox">
        <img src="/public/img/products/img_product_15189.png" alt="">
      </div>
      <div class="rightBox">
        <h1>实验室管理体系：15189 </h1>
        <h2>指导协助CNAS-CL02：2012（ ISO15189）现场评审工作</h2>
        <div class="listBox">
          你可以获得：
          <li>
            <img src="/public/img/products/icon_product_15189.png" alt="">得到国家和国际的承认和社会、公众的接受-立足之本；</li>
          <li>
            <img src="/public/img/products/icon_product_15189.png" alt="">提高医学实验室质量和能力的有效工具-运行基础；</li>
          <li>
            <img src="/public/img/products/icon_product_15189.png" alt="">扩大沟通交流-发展之源；</li>
          <li>
            <img src="/public/img/products/icon_product_15189.png" alt="">展示可以提供良好实验室行为-应对竞争；</li>
          <li>
            <img src="/public/img/products/icon_product_15189.png" alt="">为临床诊断提供可靠信息和依靠，鉴定医疗事故-减低风险；</li>
          <li>
            <img src="/public/img/products/icon_product_15189.png" alt="">提高员工的自信和尊重感-吸引人才；</li>
        </div>
      </div>
    </div>
  </section>
  <section class="section5">
    <div class="pageWidth clearBoth">
      <div class="rightBox">
        <h1>质量管理提升计划</h1>
        <h2>质量管理提升计划，为客户设立一致性比对平台</h2>
        <div class="linkBox">
          <a href="">
            <img src="/public/img/products/icon_product_msiqc.png" alt="">MSIQC</a>
          <a href="">
            <img src="/public/img/products/icon_product_mseqi.png" alt="">MSIQC</a>
        </div>
        <button class="mk-btn">查看更多</button>
      </div>
      <div class="leftBox">
        <img src="/public/img/products/img_product_ms.png" alt="">
      </div>

    </div>
  </section>
  <section class="section6">
    <div class="pageWidth clearBoth">
      <div class="leftBox">
        <img src="/public/img/products/img_product_illness.png" alt="">
      </div>
      <div class="rightBox">
        <h1>病理诊断 </h1>
        <h2>宁波美康盛德医学检验所病理诊断中心</h2>
        <p>
          由组织病理、细胞病理、流式细胞、分子遗传学和细胞遗传学等多学科共同组成。拥有良好的病理医生资源，与宁波临床病理诊断中心（上海肿瘤医院宁波病理中心）达成战略联盟，共享病理医生资源，主要负责宁波市级医疗机构临床病理诊断工作；接受各县市区和美康盛德连锁检验所病理外包业务等。同时实现远程病理会诊功能。
        </p>
      </div>
    </div>
  </section>
  <section class="section7">
    <div class="pageWidth">
      <h1>基因检测</h1>
      <h2>2016年3月获国家发改委首批批复建设的27家之一</h2>
      <p class="blueText">
        年标本检测能力为17.25万例
      </p>
      <p class="moreInfo">
        服务项目：无创产前筛查、肿瘤个体化医疗、遗传性疾病、感染性疾病、心血管疾病、内分泌疾病和个人基因组检测
      </p>
    </div>
  </section>
  <section class="section8">
    <div class="pageWidth">
      <div class="mainBox">
        <div class="row clearBoth">
          <div class="imgBox">
            <img src="/public/img/products/img_product_origin.png" alt="">
          </div>
          <div class="textBox">
            <h3>溯源体系</h3>
            <p>
                美康生物参考实验室于2016年3月4日正式获得中国合格评定国家认可委员会（简称“CNAS”）医学参考实验室认可...
            </p>
            <button class="mk-btn-o">查看更多</button>
          </div>
        </div>
        <div class="row clearBoth">
            <div class="textBox">
                <h3>研发、生产、质量管理实力</h3>
            <p>
                美康生物体外诊断系统研究院广泛吸收人才，已建立起一支涵盖生物医学、生物化学、微生物学、分子生物学...
            </p>
            <button class="mk-btn-o">查看更多</button>
              </div>
              <div class="imgBox">
                <img src="/public/img/products/img_product_research.png" alt="">
              </div>
        </div>
      </div>
    </div>

  </section>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
  $(function () {
    var mySwiper = new Swiper('.swiper-container', {
      paginationClickable: true,
      slidesPerView: 3,
      loop: true
    })
    $('.swleftBtn').on('click', function (e) {
      e.preventDefault()
      mySwiper.swipePrev()
    })
    $('.swrightBtn').on('click', function (e) {
      e.preventDefault()
      mySwiper.swipeNext()
    })

  })

  $(function () {
    $(".hoverImgBox").hover(function () {
      $(this).find('.preHoverImg').velocity('stop').velocity('fadeOut')
      $(this).find('.hoverImg').velocity('stop').velocity('fadeIn')
    }, function () {
      $(this).find('.preHoverImg').velocity('stop').velocity('fadeIn')
      $(this).find('.hoverImg').velocity('stop').velocity('fadeOut')
    })
  })
</script>

{% endblock %}