{% extends "root.html" %} {% block main %}
<div class="introduceContainer">
  <div class="banner">

  </div>
  <section class="section1">
    <div class="pageWidth clearBoth">
      <div class="leftBox">
        <h2>集团介绍</h2>
        <p>
          美康生物是一家专业从事医学诊断产品研发、生产、销售及服务的国家高新技术企业，全国卫生产业企业先进单位。公司创立于2003年，矗立于中国东海之滨—宁波，2015年在深交所创业板成功上市，股票代码300439。

        </p>
        <p>
          公司秉承“科技创新，以人为本”的宗旨，引领行业技术进步。公司参与行业标准制定6项，高等医学院教材编写项目2项 ，标准物质合作定值11项。公司获得中国合格评定国家认可委员会（CNAS）医学参考实验室认可；参加IFCC-RELA能力验证20项，成绩全部合格；参加美国病理学家协会（CAP）能力验证通过生化28个项目，结果全部合格。2015年，公司正式成为IFCC企业会员，在完善质量体系的道路上，美康生物披荆斩棘，一路向前！
        </p>
      </div>
      <div class="rightBox">
        <video controls src="" poster="/public/img/closetomk/img_video.png"></video>
      </div>
    </div>
  </section>
  <section class="section2">

  </section>
  <section class="section3">
    <div class="pageWidth clearBoth">
      <div class="imgBox">
        <img src="/public/img/closetomk/icon_100_1.png" alt="">
      </div>
      <div class="imgBox">
        <img src="/public/img/closetomk/icon_100_2.png" alt="">
      </div>
      <div class="imgBox">
        <img src="/public/img/closetomk/icon_100_3.png" alt="">
      </div>
    </div>

  </section>
  <section class="section4">
    <h1>智能健康产业园</h1>
    <p>美康生物将打造鄞州区智能健康产业中心，将集科研开发、基因检测、健康医疗于一体，提高区域医疗卫生服务水平</p>
  </section>
  <section class="section5">
    <h1>分公司介绍</h1>
    <h2>BRANCH INTRODUCTION</h2>
    <div class="companyList pageWidth">
      <div class="list1">
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
              圣地亚哥美康生物有限公司<br>
              <span style="margin-right: 30px;"></span>SD Medical System, INC
          </li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            宁波生园生物技术有限公司 </li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            宁波美康盛德融资租赁有限公司</li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            浙江美康达冷链物流有限公司</li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            美康生物科技(陕西)有限公司</li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            美康生物科技（徐州）有限公司</li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            美康生物(香港)有限公司</li>
      </div>
      <div class="list2">
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
              VAP 诊断实验室股份有限公司
          </li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            美康盛达生物科技泰州有限公司  </li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            聊城美康盛达生物科技有限公司</li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            内蒙古美康生物医疗器械有限公司</li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            宁波美康基因科技有限公司</li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            福建广盛源医疗科技有限公司</li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            浙江广盛源医疗科技有限公司</li>
      </div>
      <div class="list3">
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            江西广盛源医疗科技有限公司
          </li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            浙江涌捷医疗器械有限公司  </li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            江西省美康医疗器械有限公司</li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            重庆和盛医疗器械有限公司</li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            新疆伯晶伟业商贸有限公司</li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            内蒙古盛德医疗器械有限公司</li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            上海京都生物工程有限公司</li>
      </div>
      <div class="list4">
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">

              京都弘益生物科技(苏州)有限公司
          </li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            京都生命科学株式会社   </li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            安徽美康华浦生物科技有限公司</li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            上饶市新安略科技有限公司</li>
          <li><img src="/public/img/closetomk/icon_zjmk_fengongsi.png" alt="">
            武汉美康盛德科技有限公司</li>
      </div>
      
    </div>
  </section>

</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}