{% extends "root.html" %} {% block main %}
<div class="myIndex pageWidth">
  <style>
    .myIndex a {
        display: block;
        font-size: 20px;
    }
    </style>
<a href="/brandstory.html">brandstory</a>
<a href="/closetomk.html">closetomk</a>
<a href="/culture.html">culture</a>
<a href="/develop.html">develop</a>
<a href="/index.html">index</a>
<a href="/introduce.html">introduce</a>
<a href="/lifesunshine.html">lifesunshine</a>
<a href="/questions.html">questions</a>
<a href="/service_concept.html">service_concept</a>
<a href="/service_scheme.html">service_scheme</a>
<a href="/service.html">service</a>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">

</script>

{% endblock %}