{% extends "root.html" %} {% block main %}
<div class="newslistContainer pageWidth">
  <div class="newsBanner">
    <div class="imgBox">
      <img src="/public/img/closetomk/img_news.png" alt="">
    </div>
    <div class="textBox">
      <a href="">
        <h3>POCT与急诊医学科发展</h3>
      </a>
      <div class="timeBox">时间：2017-02-07 11:30:00</div>
      <div class="content">
        POCT(point of care testing )是在急诊患者床旁开展的一种新的快速检验模式和即时检验技术。与传统实验室检查相比，POCT优势在于：（1）无需专人采集、传送和检测标本，即检即出结果和报告，简化操作流程，短时间内快速及时反馈信息；(2)检测结果与传统实验室一致或近似；(3）检测仪器小巧便携，试剂和试纸使用方便，操作方法简单，可即时操作;(4)不限制检测时间和地点，能够满足24小时急诊检测需要；（5）POCT无需专业检验技术人员，大大节省医院的人力、物力和财力。
        <br> 公元前1500年，人们根据消瘦患者尿液吸引蚂蚁的现象推断到患者尿液含糖，即是POCT最早的雏形。1959年，Edmonds以干化学纸片检测血糖用于糖尿病临床..
      </div>
    </div>
  </div>
  <div class="newslist">
    <a class="newsItem clearBoth" href="">
      <div class="imgBox">
        <img src="/public/img/closetomk/img_video.png" alt="">
      </div>
      <div class="textBox">
        <h3>医学实验室整体合作应该如何选择供应商</h3>
        <div class="content">
          对于越来越多医学实验室来说，医学实验室整体合作模式可能是更有利的选择。在是与否的选择中，判断的标准相对简单清晰，也越来越多的医学实验室开始接受整体合作的商业模式。如何选择合适的供应商，则需要更多信息的认知解读和思考。我们在中国IVD市场上现有的医学实验室整体合作的案例中，依然了解到很多合作不尽如人意的情况出现...
        </div>
        <div class="timeBox">
          2017-09-26
        </div>
      </div>
    </a>
    <a class="newsItem clearBoth" href="">
      <div class="imgBox">
        <img src="/public/img/closetomk/img_video.png" alt="">
      </div>
      <div class="textBox">
        <h3>医学实验室整体合作应该如何选择供应商</h3>
        <div class="content">
          对于越来越多医学实验室来说，医学实验室整体合作模式可能是更有利的选择。在是与否的选择中，判断的标准相对简单清晰，也越来越多的医学实验室开始接受整体合作的商业模式。如何选择合适的供应商，则需要更多信息的认知解读和思考。我们在中国IVD市场上现有的医学实验室整体合作的案例中，依然了解到很多合作不尽如人意的情况出现...
        </div>
        <div class="timeBox">
          2017-09-26
        </div>
      </div>
    </a>
    <a class="newsItem clearBoth" href="">
      <div class="imgBox">
        <img src="/public/img/closetomk/img_zjmk_shzr2.png" alt="">
      </div>
      <div class="textBox">
        <h3>诊断设备生产商拓市场要用“巧劲”</h3>
        <div class="content">
          随着实验室检测项目日趋多样化、检测量大幅增加，患者和临床医生对实验室的要求也日益提高，如何同时满足检测可靠性与及时性要求是当前实验室建设和管理所面临的严峻挑战。...
        </div>
        <div class="timeBox">
          2017-09-26
        </div>
      </div>
    </a>
    <a class="newsItem clearBoth" href="">
      <div class="imgBox">
        <img src="/public/img/closetomk/img_video.png" alt="">
      </div>
      <div class="textBox">
        <h3>医学实验室整体合作应该如何选择供应商</h3>
        <div class="content">
          对于越来越多医学实验室来说，医学实验室整体合作模式可能是更有利的选择。在是与否的选择中，判断的标准相对简单清晰，也越来越多的医学实验室开始接受整体合作的商业模式。如何选择合适的供应商，则需要更多信息的认知解读和思考。我们在中国IVD市场上现有的医学实验室整体合作的案例中，依然了解到很多合作不尽如人意的情况出现...
        </div>
        <div class="timeBox">
          2017-09-26
        </div>
      </div>
    </a>
    <a class="newsItem clearBoth" href="">
      <div class="imgBox">
        <img src="/public/img/closetomk/img_video.png" alt="">
      </div>
      <div class="textBox">
        <h3>医学实验室整体合作应该如何选择供应商</h3>
        <div class="content">
          对于越来越多医学实验室来说，医学实验室整体合作模式可能是更有利的选择。在是与否的选择中，判断的标准相对简单清晰，也越来越多的医学实验室开始接受整体合作的商业模式。如何选择合适的供应商，则需要更多信息的认知解读和思考。我们在中国IVD市场上现有的医学实验室整体合作的案例中，依然了解到很多合作不尽如人意的情况出现...
        </div>
        <div class="timeBox">
          2017-09-26
        </div>
      </div>
    </a>
    <a class="newsItem clearBoth" href="">
      <div class="imgBox">
        <img src="/public/img/closetomk/img_video.png" alt="">
      </div>
      <div class="textBox">
        <h3>医学实验室整体合作应该如何选择供应商</h3>
        <div class="content">
          对于越来越多医学实验室来说，医学实验室整体合作模式可能是更有利的选择。在是与否的选择中，判断的标准相对简单清晰，也越来越多的医学实验室开始接受整体合作的商业模式。如何选择合适的供应商，则需要更多信息的认知解读和思考。我们在中国IVD市场上现有的医学实验室整体合作的案例中，依然了解到很多合作不尽如人意的情况出现...
        </div>
        <div class="timeBox">
          2017-09-26
        </div>
      </div>
    </a>
  </div>
  <div class="paginationContainer pageWidth">
    <div class="pagiMk">
      <a href="">
        < </a>
          <a href=""> ... </a>
          <a href=""> 1 </a>
          <a href=""> 2 </a>
          <a class="active" href=""> 3 </a>
          <a href=""> 4 </a>
          <a href=""> 5 </a>
          <a href=""> ... </a>
          <a href=""> > </a>
    </div>
    <div class="jumpTo">
      <input class="jumpToInput" type="text">
      <button class="mk-btn jumpToBtn">跳转到</button>
    </div>
  </div>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
  $(function () {
    var pagiMk = new window.PagiMk('.pagiMk')
    pagiMk.init({
      total: 100,
      index: 1
    })
  })

  $(function () {
    $('.jumpToBtn').click(function () {
      var index = $('.jumpToInput').val()
      console.log(index)
    })
  })
</script>

{% endblock %}