{% extends "root.html" %} {% block main %}
<div class="newsdetailContainer">
  <div class="pageWidth clearBoth">
    <div class="contentBox">
        <h2>经商创业，“非典”成就梦想</h2>
        <h3>时间：2017-02-07 11:30:00</h3>
        <p>
          公司成立之初就因为全新的创业理念而得到了一些投资方的青睐，资金问题很快得到了落实。再加上“非典”之后医疗理念革新的契机，美康生物起步迅速。经过研发人员的日夜奋战，美康生物一投产便推出了３０多种试剂，各大医疗机构临床试验后发现，美康产品在质量上毫不逊色于进口产品，而价格却远低于进口产品，由此，美康生物的牌子一炮走红。
        </p>



    </div>
    <div class="contentList">
      <h3>
        <span class="hot">HOT</span><span>热点</span>新闻</h3>
      <ul>
        <li><img src="/public/img/closetomk/icon_arrow_zjmk_hotnews.png" alt="">经商创业，“非典”成就梦想</li>
        <li><img src="/public/img/closetomk/icon_arrow_zjmk_hotnews.png" alt="">十年创新研发，孕育出一匹体外诊断“黑马”</li>
        <li><img src="/public/img/closetomk/icon_arrow_zjmk_hotnews.png" alt="">公司成功上市</li>
        <li><img src="/public/img/closetomk/icon_arrow_zjmk_hotnews.png" alt="">关注百姓，热衷公益</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}