{% extends "root.html" %} {% block main %}
<div class="originContainer">
  <section class="banner1">

  </section>
  <div class="contentBox">
    <div class="pageWidth">
      <div class="imgBox text-center">
        <img src="/public/img/products/img_origin1.png" alt="">
      </div>
      <h3 class="text-center" style="margin: 50px 0 30px 0;">国内首家成为JCTLM Stakeholder Member的体外诊断厂商</h3>
      <div class="imgBox text-center" style="margin-bottom: 50px">
        <img src="/public/img/products/img_origin2.png" alt="">
      </div>
      <p>
        2018年2月，参考实验室酶学、代谢、电解质等项目进入JCTLM列表，可为全球提供参考测量服务。作为国内少数几家进入列表的体外诊断产品企业，美康生物为临床实验室提供更准确、更可靠的结果；在增强客户信心的同时，也为产品的国际化互认奠定坚实的基础。
        2016年3月，参考实验室获得中国合格评定国家认可委员会（简称“CNAS”）医学参考实验室认可，2017年4月顺利通过监督及扩项评审，认可项目扩至酶学、代谢物、总蛋白和电解质等十五项，其中基于离子色谱技术的电解质项目国内首次被CNAS认可。
      </p>
      <div class="imgBox text-center" style="margin-top: 30px;">
        <img src="/public/img/products/img_origin3.png" alt="">
        <h3 style="margin-top: 30px;">溯源证书</h3>
      </div>
      <div class="linkBox clearBoth" style="margin-top: 30px;">
        <div class="listItem">
          <img src="/public/img/products/img_origin_apoa.png" alt="">
          <div class="text-center">
            <a href="">Apo A1 Certificate of Traceability</a>
          </div>
        </div>
        <div class="listItem">
          <img src="/public/img/products/img_origin_apob.png" alt="">
          <div class="text-center">
            <a href="">Apo A1 Certificate of Traceability</a>
          </div>
        </div>
        <div class="listItem">
          <img src="/public/img/products/img_origin_hdl.png" alt="">
          <div class="text-center">
            <a href="">Apo A1 Certificate of Traceability</a>
          </div>
        </div>
        <div class="listItem">
          <img src="/public/img/products/img_origin_tch.png" alt="">
          <div class="text-center">
            <a href="">Apo A1 Certificate of Traceability</a>
          </div>
        </div>
      </div>
      <div class="p" style="margin-top: 50px;">
        <b>国内运行参考测量程序最多的体外诊断产品厂商 </b>
        美康生物参考实验室运行ALP、AST、ALT、GGT、LDH、CK、AMY、GLU、TP、T-BIL、Urea、UA、CR、Li、K、Na、Ca、Mg、Cl、25-OH-vitamin D、Estriol、Hcy、estradiol-17ß、testosterone、aldosterone等二十余项参考测量程序。并积极参与国际参考实验室能力验证和校准品定值工作。
      </div>
      <div class="imgBox text-center" style="margin-top: 30px;">
        <img src="/public/img/products/img_origin4.png" alt="">
      </div>
      <div class="p" style="margin-top: 30px;">
        <b>参与国家标准物质的研制和定值工作</b>
        体外诊断试剂标准物质是实现体外诊断试剂结果准确一致的主要工具，也是保证量值有效传递的计量实物标准。在完整的溯源、量值传递和校准过程中，标准物质起着复现量值、传递测量不确定度和实现测量准确一致的作用。
      </div>
      <div class="tableBox">
        <table>
          <thead>
            <tr>
              <th>联合赋值项目</th>
              <th>合作单位</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>血清葡萄糖国家标准物质</td>
              <td>国家计量科学研究院</td>
            </tr>
            <tr>
              <td>总蛋白国家一级标准物质</td>
              <td>国家卫计委临检中心</td>
            </tr>
            <tr>
              <td>血清CK、LDH、ALP国家标准物质</td>
              <td>北京航天总医院</td>
            </tr>
            <tr>
              <td>血清电解质国家标准物质</td>
              <td>朝阳医院</td>
            </tr>
            <tr>
              <td>血清尿素、尿酸和总蛋白国家标准物质</td>
              <td>中国食品药品检定研究院</td>
            </tr>
            <tr>
              <td>血清电解质国家标准物质</td>
              <td>中国食品药品检定研究院</td>
            </tr>
            <tr>
              <td>血清AST、ALP国家标准物质</td>
              <td>上海市临床检验中心</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="p" style="margin-top: 30px;">
          <b>行业标准的制定者</b>
          体外诊断试剂标准物质是实现体外诊断试剂结果准确一致的主要工具，也是保证量值有效传递的计量实物标准。在完整的溯源、量值传递和校准过程中，标准物质起着复现量值、传递测量不确定度和实现测量准确一致的作用。
        </div>
        <div class="tableBox">
          <table>
            <thead>
              <tr>
                <th style="width: 70%">标准名称</th>
                <th style="width: 30%">状态</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>同型半胱氨酸检测试剂（盒）</td>
                <td>已颁布</td>
              </tr>
              <tr>
                <td>应用参考测量程序对酶活性赋值过程及不确定度评定指南</td>
                <td>已颁布</td>
              </tr>
              <tr>
                <td>缺血修饰白蛋白检测试剂（盒）</td>
                <td>已颁布</td>
              </tr>
              <tr>
                <td>糖化白蛋白检测试剂盒（酶法）</td>
                <td>制定中</td>
              </tr>
              <tr>
                <td>视黄醇结合蛋白测定试剂盒（免疫比浊法）</td>
                <td>制定中</td>
              </tr>
              <tr>
                <td>降钙素原定量检测试剂盒</td>
                <td>制定中</td>
              </tr>
              <tr>
                <td>血清电解质（钾、钠、钙、镁）参考测量程序（离子色谱法）</td>
                <td>制定中</td>
              </tr>
              <tr>
                  <td>血清25-羟基维生素D参考测量程序(液相色谱串联质谱法)</td>
                  <td>制定中</td>
                </tr>
            </tbody>
          </table>
  
        </div>
    </div>

  </div>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}