{% extends "root.html" %} {% block main %}
<div class="productContainer">
  <div class="banner1">
    <div class="textBox">
      <h1>产品&集约化服务方案</h1>
      我们的产品为企业第一资源，把依靠人才作为企业发展的根本前提，把尊重人才作为企业发展的根本准则，把推进企业和员工共。
      <br>在人力资源实践活动中，美康生物善于为各类人才提供充分施展才华的舞台
      <div class="linkList">
        <a href="">
          <img src="/public/img/products/icon_product_plan.png" alt=""> 服务方案
        </a>
        <a href="">
          <img src="/public/img/products/icon_product_yiqi.png" alt=""> 医疗仪器
        </a>
        <a href="">
          <img src="/public/img/products/icon_product_shiji.png" alt=""> 诊断试剂
        </a>
      </div>
    </div>
  </div>
  <section class="section2">
    <h1>集约化服务方案</h1>
    <div class="pageWidth clearBoth">
      <div class="productItem">
        <img src="/public/img/products/icon_product_transport.png" alt=""> 冷链物流
      </div>
      <div class="productItem">
        <img src="/public/img/products/icon_product_lis.png" alt=""> 信息区域LIS
      </div>
      <div class="productItem">
        <img src="/public/img/products/icon_product_test.png" alt=""> 实验室管理体系
      </div>
      <div class="productItem">
        <img src="/public/img/products/icon_product_quality.png" alt=""> 质量管理提升
      </div>
      <div class="productItem">
        <img src="/public/img/products/icon_product_illness.png" alt=""> 病理诊断
      </div>
      <div class="productItem">
        <img src="/public/img/products/icon_product_dna.png" alt=""> 基因检测
      </div>
      <div class="productItem">
        <img src="/public/img/products/icon_product_origins.png" alt=""> 溯源体系
      </div>
      <div class="productItem">
        <img src="/public/img/products/icon_product_research.png" alt=""> 研发、生产、质量管理
      </div>
    </div>
  </section>
  <section class="section3">

  </section>
  <section class="section4 pageWidth">
    <h1 class="headerBox">
      <div class="dashBox"></div>
      <span>体外诊断</span>
    </h1>
    <div class="contentBox clearBoth">
      <div class="leftBox">
        <h1>POCT系列</h1>
        <div class="textBox">
          <span>智能</span>
          <span>微型</span>
          <span>精准</span>
          <span>便捷</span>
        </div>
        <ul class="infoList">
          <li>支持血清/血浆/劝学类型样本</li>
          <li>第一个样本3-15分钟出结果，后续样本最快 20秒出一个结果</li>
          <li>可存储两万条样本测试数据或质控数据</li>
        </ul>
      </div>
      <div class="rightBox clearBoth">
        <div class="imgBox">
          <img src="/public/img/products/img_product_poct1.png" alt="">
        </div>
        <div class="imgBox">
          <img src="/public/img/products/img_product_poct2.png" alt="">
        </div>
        <div class="imgBox">
          <img src="/public/img/products/img_product_poct3.png" alt="">
        </div>
        <div class="imgBox">
          <img src="/public/img/products/img_product_poct4.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="section5">
    <div class="pageWidth">
      <h1>血液线系列</h1>
      <div class="swiperContainer">
        <div class="swiperBtn swleftBtn">
          <i class="iconfont">&#xe6a5;</i>
        </div>
        <div class="swiperBtn swrightBtn">
          <i class="iconfont">&#xe62f;</i>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper" style="width: 3080px; height: 250px; transform: translate3d(-660px, 0px, 0px); transition-duration: 0.3s;">
            <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/products/img_product_msh630_l.png" alt="">
                <h3>MS-H630</h3>
              </div>
            </div>
            <div class="swiper-slide swiper-slide-visible" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/products/img_product_msh650_l.png" alt="">
                <h3>MS-H650</h3>
              </div>
            </div>
            <div class="swiper-slide swiper-slide-visible" style="width: 220px; height: 250px;">
              <div class="imgBox">
                <img src="/public/img/products/img_product_msh652_l.png" alt="">
                <h3>MS-H652</h3>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="section6 clearBoth">
    <div class="pageWidth">

      <div class="leftBox">
        <h1>
          慢病管理解决方案
        </h1>
        <h3>
          最适合慢病即时检测的移动医疗系统
        </h3>
        <a href="">
          <button class="mk-btn">查看更多</button>
        </a>
        <div class="videoLink">
          <a href="">
            <img src="/public/img/products/icon_product_video.png" alt="">一体机产品视频</a>
        </div>

      </div>
    </div>
  </section>
  <section class="section7">
    <div class="pageWidth clearBoth">
      <div class="productItem">
        <div class="hoverImgBox">
          <img class="preHoverImg" src="/public/img/products/icon_product_shenghua.png" alt="">
          <img class="hoverImg" src="/public/img/products/icon_product_shenghua_s.png" alt="">
        </div>
        <h3>生化试剂</h3>
      </div>
      <div class="productItem">
        <div class="hoverImgBox">
          <img class="preHoverImg" src="/public/img/products/icon_product_zhikong.png" alt="">
          <img class="hoverImg" src="/public/img/products/icon_product_zhikong_s.png" alt="">
        </div>
        <h3>质控校准</h3>
      </div>
      <div class="productItem">
        <div class="hoverImgBox">
          <img class="preHoverImg" src="/public/img/products/icon_product_xueqiu.png" alt="">
          <img class="hoverImg" src="/public/img/products/icon_product_xueqiu_s.png" alt="">
        </div>
        <h3>血球相关试剂</h3>
      </div>
    </div>
  </section>
  <section class="section8 clearBoth">
      <div class="pageWidth">
        <div class="imgBox">
          <img src="/public/img/products/img_product_personalhealth.png" alt="">
        </div>
        <div class="leftBox">
          <h1>
            个人健康管理
            <small>家庭便捷系列</small>
          </h1>
          <ul>
            <li>专业：前沿技术支持团队，专业仪器团队设计开发</li>
            <li>实用：切实有效解决方案，强击用户痛点 </li>
            <li>融合：融合发展，核心竞争力，医疗、检验、互联网</li>
            <li>创新：坚持创新、不断寻求新技术，科技创新带动长足发展</li>
          </ul>
          <div>
            <img src="/public/img/products/img_product_health.png" alt="">
          </div>
          <a href="">
            <button class="mk-btn">相关产品</button>
          </a>
  
        </div>
      </div>
    </section>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
  $(function () {
    var mySwiper = new Swiper('.swiper-container', {
      paginationClickable: true,
      slidesPerView: 3,
      loop: true
    })
    $('.swleftBtn').on('click', function (e) {
      e.preventDefault()
      mySwiper.swipePrev()
    })
    $('.swrightBtn').on('click', function (e) {
      e.preventDefault()
      mySwiper.swipeNext()
    })

  })

  $(function(){
    $(".hoverImgBox").hover(function(){
      $(this).find('.preHoverImg').velocity('stop').velocity('fadeOut')
      $(this).find('.hoverImg').velocity('stop').velocity('fadeIn')
    }, function(){
      $(this).find('.preHoverImg').velocity('stop').velocity('fadeIn')
      $(this).find('.hoverImg').velocity('stop').velocity('fadeOut')
    })
  })
</script>

{% endblock %}