{% extends "root.html" %} {% block main %}
<div class="qualityContainer">
  <section class="banner1">

  </section>
  <div class="contentBox">
    <div class="pageWidth">
      <div class="imgBox text-center">
        <img src="/public/img/products/img_quality1.png" alt="">
      </div>
      <h3 class="green">实验室一致性比对计划（MSEQI）</h3>
      <p>将质评物当做患者样本进行检测，与使用相同方法、仪器和试剂的其它实验室结果进行客观比对，达到室间一致性。</p>
      <h3>优势</h3>
      <p>
          （1）	针对性分析：评估不同方法学、仪器、浓度水平的偏倚；<br>
          （2）	实时监控：通过月度&年度报告全面评估；<br>
          （3） 一致性改进：根据评价结果，采取改进措施；<br>
          （4）	特色项目开展：形成美康特色，为客户设立一致性比对平台；<br>
          （5）	参考方法赋值：提供可靠赋值，评价检测系统准确性。 是实验室每月评估检测系统性能的宝贵工具。 <br>
          <br>
          （1）	比对方式：以方法学比对为主，结合仪器比对为辅。年度报告根据样本梯度统一分析，全面监控检测系统性能。<br>
          （2）	数据处理：采用稳健性统计方法，对去除离群值后的数据进行靶值、标准差设定。<br>
          （3）	结果评价：月度MSEQI报告采用Z值进行能力评价，同时提供偏差结果给予参考，对检测项目的浓度、机型、系统变化趋势进行全面评估。<br>
          （4）	跟踪服务：技术人员提供上门服务，工程师定期电话回访。
      </p>
      <h3 class="green">MSIQC</h3>
      <p>
        针对使用美康产品的客户，为其设立室内质量监控的平台。是对使用美康产品的不同实验室的室内质控数据，进行集中统计分析的数据处理平台，是室内质控室间化比对的有效方式。在MSIQC平台，用户可将同项目同质控不同批号的数据集中显示在同一张质控图中。不同批号的质控，根据设定的靶值、标准差，判断是否违反质控规则，并进一步改善，从而提升室内检测质量。
      </p>
      <h3 style="margin-top: 30px;">MSIQC质量指标功能</h3>
      <p>
          帮助实验室针对性监控分析质量，并持续推动质量改进。实验室通过系统记录质量指标数据，绘制出折线趋势图，通过长期内部监控，观察其变化，发现实验室质量水平的变换，及时分析原因并采取纠正措施。
      </p>
      
    </div>

  </div>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}