{% extends "root.html" %} {% block main %}
<div class="questionsContainer">
  <div class="banner">
    <div class="pageWidth">
        <h1><i class="iconfont">&#xe61f;</i> 常见问题解答</h1>
        <div class="content">
            为了减少您可能的等待的时间，您不妨先仔细阅读下面的常见问题。如果问题仍无法解决，请您在本页页底拨打客服电话，谢谢您的理解！
        </div>
    </div>
  </div>
  <div class="questionList pageWidth">
    <ul>
      <li class="questionItem">
        <div class="itemHeader">
          <span class="indexNum">1.</span><img class="imgIcon" src="./public/img/high_qulity/icon_q.png" alt="">
          AU640故障现象1 SAMPLE EMPTY LEVEL DETECT(样品空探测)报警。
          <i class="iconfont icon-up">&#xe62e;</i>
          <i class="iconfont icon-down">&#xe62d;</i>
        </div>
        <div class="itemBody">
          <img class="imgIcon" src="./public/img/high_qulity/icon_a.png" alt="">
          故障分析机器在工作过程中出现此报警，但不是检测每个样品时都出现此报警。造成此报警的不确定因素很多。需要从简单到复杂逐步检查有可能发生故障的部位。检查样品位是否真的为空，确定报警为故障报警。用万用表检查机器的地线，确定机器接地正常。排除外部信号对机器的干扰造成报警。 检查样品探针，确定其安装正确。检查样品分配单元的一组电缆线，由于长时间的使用，会造成部分连接线接触不良，断路时会引起报警。一般情况下，更换连接线后故障即可排除。但也存在特殊情况。样品针吸人血清时，会从真空采血管中带出油状物质，这种油状物质吸附在样品探针尖，接着机器报警样品空探测。用普通玻璃试管加入清水当作样品，做100个样品未见报警，说明真空采血管有问题。更换新采血管故障排除
        </div>
      </li>
      <li class="questionItem">
        <div class="itemHeader">
          <span class="indexNum">1.</span><img class="imgIcon" src="./public/img/high_qulity/icon_q.png" alt="">
          AU640故障现象1 SAMPLE EMPTY LEVEL DETECT(样品空探测)报警。
          <i class="iconfont icon-up">&#xe62e;</i>
          <i class="iconfont icon-down">&#xe62d;</i>
        </div>
        <div class="itemBody">
          <img class="imgIcon" src="./public/img/high_qulity/icon_a.png" alt="">
          故障分析机器在工作过程中出现此报警，但不是检测每个样品时都出现此报警。造成此报警的不确定因素很多。需要从简单到复杂逐步检查有可能发生故障的部位。检查样品位是否真的为空，确定报警为故障报警。用万用表检查机器的地线，确定机器接地正常。排除外部信号对机器的干扰造成报警。 检查样品探针，确定其安装正确。检查样品分配单元的一组电缆线，由于长时间的使用，会造成部分连接线接触不良，断路时会引起报警。一般情况下，更换连接线后故障即可排除。但也存在特殊情况。样品针吸人血清时，会从真空采血管中带出油状物质，这种油状物质吸附在样品探针尖，接着机器报警样品空探测。用普通玻璃试管加入清水当作样品，做100个样品未见报警，说明真空采血管有问题。更换新采血管故障排除
        </div>
      </li>
      <li class="questionItem">
        <div class="itemHeader">
          <span class="indexNum">1.</span><img class="imgIcon" src="./public/img/high_qulity/icon_q.png" alt="">
          AU640故障现象1 SAMPLE EMPTY LEVEL DETECT(样品空探测)报警。
          <i class="iconfont icon-up">&#xe62e;</i>
          <i class="iconfont icon-down">&#xe62d;</i>
        </div>
        <div class="itemBody">
          <img class="imgIcon" src="./public/img/high_qulity/icon_a.png" alt="">
          故障分析机器在工作过程中出现此报警，但不是检测每个样品时都出现此报警。造成此报警的不确定因素很多。需要从简单到复杂逐步检查有可能发生故障的部位。检查样品位是否真的为空，确定报警为故障报警。用万用表检查机器的地线，确定机器接地正常。排除外部信号对机器的干扰造成报警。 检查样品探针，确定其安装正确。检查样品分配单元的一组电缆线，由于长时间的使用，会造成部分连接线接触不良，断路时会引起报警。一般情况下，更换连接线后故障即可排除。但也存在特殊情况。样品针吸人血清时，会从真空采血管中带出油状物质，这种油状物质吸附在样品探针尖，接着机器报警样品空探测。用普通玻璃试管加入清水当作样品，做100个样品未见报警，说明真空采血管有问题。更换新采血管故障排除
        </div>
      </li>
      <li class="questionItem">
        <div class="itemHeader">
          <span class="indexNum">1.</span><img class="imgIcon" src="./public/img/high_qulity/icon_q.png" alt="">
          AU640故障现象1 SAMPLE EMPTY LEVEL DETECT(样品空探测)报警。
          <i class="iconfont icon-up">&#xe62e;</i>
          <i class="iconfont icon-down">&#xe62d;</i>
        </div>
        <div class="itemBody">
          <img class="imgIcon" src="./public/img/high_qulity/icon_a.png" alt="">
          故障分析机器在工作过程中出现此报警，但不是检测每个样品时都出现此报警。造成此报警的不确定因素很多。需要从简单到复杂逐步检查有可能发生故障的部位。检查样品位是否真的为空，确定报警为故障报警。用万用表检查机器的地线，确定机器接地正常。排除外部信号对机器的干扰造成报警。 检查样品探针，确定其安装正确。检查样品分配单元的一组电缆线，由于长时间的使用，会造成部分连接线接触不良，断路时会引起报警。一般情况下，更换连接线后故障即可排除。但也存在特殊情况。样品针吸人血清时，会从真空采血管中带出油状物质，这种油状物质吸附在样品探针尖，接着机器报警样品空探测。用普通玻璃试管加入清水当作样品，做100个样品未见报警，说明真空采血管有问题。更换新采血管故障排除
        </div>
      </li>
    </ul>
  </div>
  <div class="paginationContainer pageWidth">
    <div class="pagiMk">
      <a href=""> < </a>
      <a href=""> ... </a>
      <a href=""> 1 </a>
      <a href=""> 2 </a>
      <a class="active" href=""> 3 </a>
      <a href=""> 4 </a>
      <a href=""> 5 </a>
      <a href=""> ... </a>
      <a href=""> > </a>
    </div>
    <div class="jumpTo">
      <input class="jumpToInput" type="text">
      <button  class="mk-btn jumpToBtn">跳转到</button>
    </div>
  </div>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
$(function(){
  $('.itemHeader').click(function(e){
    $questionItem = $(this).parent()
    $questionItem.toggleClass('active')
  })
})

$(function() {
  var pagiMk = new window.PagiMk('.pagiMk')
  pagiMk.init({
    total: 100,
    index: 1
  })
})

$(function(){
  $('.jumpToBtn').click(function(){
    var index = $('.jumpToInput').val()
    console.log(index)
  })
})

</script>

{% endblock %}