{% extends "root.html" %} {% block main %}
<div class="reagentContainer">
  <section class="banner1">

  </section>
  <section class="section2">
    <div class="pageWidth">
      <div class="titleBox">
        <span>生化检验试剂</span>
      </div>
      <div class="itemList">
        <div class="itemBox">
          <div class="itemHeader">
              肝功能检测项目
          </div>
          <div class="itemBody">
            
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
 
</script>

{% endblock %}