{% extends "root.html" %} {% block main %}
<div class="reagentContainer">
  <section class="banner1">

  </section>
  <section class="section2">
    <div class="pageWidth">
      <div class="titleBox">
        <span>生化检验试剂</span>
      </div>
      <div class="itemList">
        <div class="itemBox">
          <div class="itemHeader">
              肝功能检测项目
              <i class="iconfont">&#xe62f;</i>
          </div>
          <div class="itemBody">
            <li>丙氨酸氨基转移酶	ALT</li>
            <li>丙氨酸氨基转移酶	ALT</li>
            <li>丙氨酸氨基转移酶	ALT</li>
            <li>丙氨酸氨基转移酶	ALT</li>
            <li>丙氨酸氨基转移酶	ALT</li>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
 $(function(){
   $('.itemBox').click(function(){
     $(this).toggleClass('active')
   })
 })
</script>

{% endblock %}