{% extends "root.html" %} {% block main %}
<div class="researchContainer">
  <section class="banner1">

  </section>
  <div class="contentBox">
    <div class="pageWidth">
      <div class="imgBox text-center">
        <img src="/public/img/products/img_research1.png" alt="">
      </div>
      <p>
        美康生物体外诊断系统研究院广泛吸收人才，已建立起一支涵盖生物医学、生物化学、微生物学、分子生物学、原子科学、电子与通信、光学工程、信号与信息处理、机械制造与自动化等多学科的高素质人才梯队。通过自主创新，先后研发出了100多个新产品、新技术，承担国家创新基金项目2项、国家火炬计划项目1项、国家重点新产品1项，共申请专利169项，其中发明专利107项，已获授权专利133项，其中发明专利71项、实用新型56项、外观专利6项，软件著作权25项，参与制定行业标准8项。
      </p>
      <div class="imgBox text-center" style="margin-top: 30px;">
        <img src="/public/img/products/img_research2.png" alt="">
      </div>
      <h3 style="margin: 30px 0 10px;">完美品质，诚信服务</h3>
      <p>
          已经获得EN ISO 13485：2016医疗器械质量管理体系认证、ISO 9001:2008质量管理体系认证、ISO 13485:2003医疗器械质量管理体系认证、GB/T 24001-2004环境管理体系认证和GB/T 28001-2007职业健康安全管理体系认证。
      </p>
      <div class="imgBox text-center">
        <img src="/public/img/products/img_research3.png" alt="">
      </div>
    </div>

  </div>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}