{% extends "root.html" %} {% block main %}
<div class="serviceConceptContainer">
  <section class="section1">
    <div class="pageWidth">
      <div class="leftBox">
        <h1>服务理念</h1>
        <h3>关注人类健康，将便捷、高效、精准、卓越的服务理念传递到世界的每个角落！</h3>
        <h4>客户的需要，我们的追求</h4>
        <p>
          客户的需要是我们的立足之本，从一点微量的生化试剂，到一台精密的生化分析仪，再扩展到检验医学的整体技术支持服务，我们用专业技术和诚挚热情，提供全方位优质服务。
        </p>
        <div>
          <li>便捷</li>
          <li>高效</li>
          <li>精准</li>
          <li>卓越</li>
        </div>
      </div>
    </div>
  </section>
  <section class="section2">
    <div class="pageWidth clearBoth">
      <div class="leftBox">
        <h3>常规服务</h3>
        <div class="imgBox">
          <img src="./public/img/high_qulity/normal_service.png" alt="">
        </div>
      </div>
      <div class="midBox">
        <h3>增值服务</h3>
        <div class="imgBox">
            <img src="./public/img/high_qulity/more_service.png" alt="">
        </div>
      </div>
      <div class="rightBox">
        <h2>服务团队</h2>
        <h3>强大的技术服务团队 我们，让服务更有价值！</h3>
        <ul>
          <li>
            <img src="./public/img/high_qulity/icon_arrow.png" alt="">丰富的服务资源</li>
          <li>
            <img src="./public/img/high_qulity/icon_arrow.png" alt="">快速的响应速度</li>
          <li>
            <img src="./public/img/high_qulity/icon_arrow.png" alt="">优质的服务品质</li>
          <li>
            <img src="./public/img/high_qulity/icon_arrow.png" alt="">创新型技术服务</li>
        </ul>
      </div>
    </div>

  </section>
  <section class="section3">
    <div class="pageWidth">
      <div class="sectionHeader">
        <h1>团队发展历程</h1>
        <h2>DEVELOPMENT</h2>
      </div>
      <img src="./public/img/high_qulity/img_shijianzhou.png" alt="">
    </div>
    
  </section>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}