{% extends "root.html" %} {% block main %}
<div class="serviceSchemeContainer">
  <section class="section1">
    <div class="pageWidth">
      <div class="textBox">
        <h2>01</h2>
        <h3>POCT系列产品服务模式<small>（MART IV 、MPI、FP100等）</small></h3>
        <p>
            免费安装保修服务：<br>
            新安装的仪器均享受免费安装、操作培训及一年的免费保修服务，服务事项均由代理商伙伴负责提供。 <br>
            为保证代理商伙伴的服务水平，我们会为代理商伙伴提供培训及考核认证，并提供全程的技术指导。<br>
            在保修期内，因产品问题引起的严重故障，可提供免费的仪器更换服务。
        </p>
        
      </div>
      <div class="imgBox">
        <img src="/public/img/high_qulity/img_01.png" alt="">
      </div>
    </div>
  </section>
  <section class="section2">
    <div class="pageWidth">
      <div class="imgBox">
        <img src="/public/img/high_qulity/img_02.png" alt="">
      </div>
      <div class="textBox">
          <h2>02</h2>
          <h3>生化分析仪及试剂产品服务模式<small>（康生物自主研发生产及合作品牌的大型设备及配套试剂）</small></h3>
          <p>
              美康生物自主研发生产设备：免费安装保修服务 <br>
              &nbsp; &nbsp; &nbsp; &nbsp; 新安装的仪器均享受免费安装、操作培训及一年的免费保修服务。仪器过保后，我们依然会为您提供优质的服务，不收取人工服务费。服务事项主要由美康生物技术工程师负责提供，也可以由取得服务资质的代理商伙伴提供。同时我们非常欢迎更多的代理商伙伴加入我们。<br>
              合作品牌设备：免费安装保修服务 <br>
              &nbsp; &nbsp; &nbsp; &nbsp; 新安装的仪器均享受免费安装、操作培训及一年的免费保修服务。服务事项主要由进口设备厂家提供。仪器过保后，美康生物技术工程师可提供相应的技术服务。
        
          </p> 
      </div>

    </div>
  </section>
  <section class="section3">
    <div class="pageWidth">
      <div class="textBox">
          <h2>03</h2>
          <h3>集约化服务解决方案</h3>
          <p>集约化服务方案包含：集采、托管及医学检验所客户<br>
             安排专业的驻场人员协助客户进行相关工作，更高效、及时解决客户问题。</p>
        
      </div>
      <div class="imgBox">
        <img src="/public/img/high_qulity/img_03.png" alt="">
      </div>
    </div>
  </section>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}