{% extends "root.html" %} {% block main %}
<div class="serviceContainer">
  <div class="fixedBox">
    <div class="onlineAsk clearBoth">
      <div class="imgBox">
        <img src="/public/img/high_qulity/btn_zixun.png" alt="">
      </div>
      <div class="moreList">
        <ul>
          <li><a href=""><img src="/public/img/high_qulity/icon_kefu.png" alt=""> 客服1号</a></li>
          <li><a href=""><img src="/public/img/high_qulity/icon_kefu.png" alt=""> 客服2号</a></li>
          <li><a href=""><img src="/public/img/high_qulity/icon_kefu.png" alt=""> 客服3号</a></li>
          <li><a href=""><img src="/public/img/high_qulity/icon_kefu.png" alt=""> 客服4号</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="banner1">
    <div class="textBox">
      以客户为中心，首问负责制；24小时在线服务
      <br> 专业的医学诊断临床应用知识；最全的维护、维修技能覆盖；丰富的技术支持资源
      <br> 个性化、多维度服务体系；国内领先的行业技术；引领IVD技术服务发展
      <br>
      <a style="margin-top: 88px;display: block" href="">
        <button class="mk-btn">了解更多</button>
      </a>
    </div>
  </div>
  <div class="banner2 clearBoth">
    <div class="leftBanner">
      <div class="textBox">
        <ul>
          <li>POCT系列产品服务模式</li>
          <li>生化分析仪及试剂产品服务模式</li>
          <li>集约化服务解决方案</li>
        </ul>
        <a href="">
          <button class="mk-btn-o">
            服务方案
          </button>
        </a>
      </div>
    </div>
    <div class="rightBanner">
      <div class="textBox">
        <div class="boxTitle">
          <span class="askIcon"> ? </span> 常见问题解答
        </div>
        <a href="">
          <button class="mk-btn-o">
            技术咨询
          </button>
        </a>
      </div>
    </div>

  </div>
  <div class="contactUs pageWidth clearBoth">
    <div class="bannerBox">
      <img src="/public/img/high_qulity/img_3.png" alt="">
    </div>
    <div class="contact">
      <h3>联系我们</h3>
      <p>
        <i class="iconfont">&#xe668;</i>
        服 务 热 线 : 800-9574-710 400-8574-710
      </p>
      <p>
        <i class="iconfont">&#xe668;</i>
        售 后 服 务 : 800-9574-710 400-8574-710
      </p>
      <p>
        <i class="iconfont">&#xe604;</i>
        公 司 邮 箱 : callcenterbcsh@medicalsystem.com
      </p>
      <p>
        <i class="iconfont">&#xe675;</i>
        工 作 时 间 : 7 x 24
      </p>
    </div>
    <div class="leaveMessage">
      <h3>留言板</h3>
      <textarea name="" id="" cols="30" placeholder="请输入您的留言..." rows="10"></textarea>
      <button class="mk-btn-o">提交</button>
    </div>
  </div>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}