{% extends "root.html" %} {% block main %}
<div class="socialrespContainer">
  <div class="pageWidth clearBoth">
    <div class="contentBox">
      <div class="contentItem">
        <h2>助力慈善公益</h2>
        <p>
            美康生物一直致力于慈善公益事业，先后多次向当地红十字会、慈善总会等公益机构进行捐赠，用于帮助余姚抗洪救灾、丽水山体滑坡灾害事件、禽流感病人、乡镇建设、扶贫基金等
        </p>
        <img src="/public/img/closetomk/img_zjmk_shzr1.png" alt="">
      </div>
      <div class="contentItem">
        <h2>助力医疗阳光救助工程</h2>
        <p>
            与中华慈善总会“医疗阳光救助工程”办公室等机构签订了医疗设备捐赠协议，专门针对医疗基础薄弱的地区捐赠医学检验设备，目前已捐赠设备近4000万元。提高基层医疗水平及检验能力，促进分级诊疗实施。
        </p>
        <img src="/public/img/closetomk/img_zjmk_shzr2.png" alt="">
      </div>
      <div class="contentItem">
        <h2>携手救助儿童自闭症患者</h2>
        <p>
            上海宋庆龄基金会本着对妇女儿童的特别关注，在妇幼保键、助学助教、儿童文化等方面设立了多个项目基金，足迹遍布全国各大省市自治区。美康生物也参与到救助儿童自闭症项目中，为自闭症孩子提供感觉统合、交换系统、社交故事等早期专业康复培训，并积极关怀特殊儿童的家庭
          </p>
          <img src="/public/img/closetomk/img_zjmk_shzr3.png" alt="">
      </div>

      <div class="contentItem">
        <h2>情系教育，发展教育</h2>
        <p>
            美康生物不断创造契机，寻找与高等学府合作培养人才的的机会，培养有高度实践能力的应用型人才，携手开展人才培养、课程培训、企业案例研究、研发中心建设等工作，这不仅是美康生物社会责任与情怀的体现，也是校企双方都将“以人为本”作为办学与经营理念的印证。
          </p>
          <img src="/public/img/closetomk/img_zjmk_shzr4.png" alt="">
      </div>
    </div>
    <div class="contentList">
      <h3>
        <span>品牌</span>故事</h3>
      <ul>
        <li>经商创业，“非典”成就梦想</li>
        <li>十年创新研发，孕育出一匹体外诊断“黑马”</li>
        <li>公司成功上市</li>
        <li>关注百姓，热衷公益</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %} {% block js%}

<script type="text/javascript">
</script>

{% endblock %}