@import "variable.scss";
body{

  .wrapper{
    width:100%;
    .content{
      @extend .wrapper;
      min-width:1200px;
      max-width:1920px;
      .qulityBanner{
        width:100%;
        height:450px;
        //position: relative;
        background: url(../img/highQulity/img_fuwulinian.png) no-repeat center top;
        .bannerInfo{
          //top:68px;
          //left:130px;
          width:1200px;
          margin:0 auto;
          padding-top:68px;
          //position: absolute;
          color:#616F75;
          margin-bottom:61px;
          h3{
            color:#2D2E30;
            font:bold 24px/48px "MicrosoftYaHei-Bold";
          }
          .info1,h5{
            color:#2D2E30;
            //font-size:16px;
            font:bolder 16px/52px "MicrosoftYaHei";
            //font:blod 16px/48px "MicrosoftYaHei";
            //line-height:48px;
          }
          .info2{
            color:#5E686C;
            margin-bottom:20px;
            font:normal 16px/30px "MicrosoftYaHei";
          }
          ul{
            li{
              width:61px;
              height:61px;
              float: left;
              color:#2D2E30;
              text-align: center;
              border-radius:31px;
              border:#ccc solid 1px;
              margin-right:10px;
              font:normal 14px/61px "MicrosoftYaHei";
            }
          }
        }

      }
      .serviceModule{
        width:1200px;
        margin:0 auto;
        height:381px;
        .regularService,.valueaddedService,.serviceTeam{
          float: left;
          height:275px;
          h4{
            //padding-top:22px;
            padding-bottom:22px;
            font:bolder 16px/16px "MicrosoftYaHei";
          }
        }
        .regularService,.valueaddedService{
          width:414px;
          position: relative;
          margin-right:98px;
          ul {
            width:100%;
            height:238px;
            margin-left:53px;
            position: relative;
            li.servicePic {
              width: 114px;
              height: 131px;
              position: absolute;
              -webkit-transform: rotate(60deg);
              overflow: hidden;
              h3{
                position: absolute;
              }
              div {
                width: 100%;
                height: 100%;
                overflow: hidden;
                -ms-transform: rotate(-120deg);
                -moz-transform: rotate(-120deg);
                -webkit-transform: rotate(-120deg);
                a {
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  display: block;
                  position: relative;
                  -ms-transform: rotate(60deg);
                  -moz-transform: rotate(60deg);
                  -webkit-transform: rotate(60deg);
                  img{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    cursor: pointer;
                    transition: all 0.2s;
                    &:hover{
                      transform: scale(1.2);
                    }
                  }

                  h3{
                    color:#fff;
                    z-index:999;
                    top:58px;
                    left:40px;
                    -ms-transform: rotate(160deg);
                    font:bold 16px/24px "Microsoft YaHei";
                    position: absolute;
                  }

                }
              }
            }
            .servicePic1 {
              left: 0;
              top: 0;
            }
            .servicePic2 {
              left: 124px;
              top: 0;
            }
            .servicePic3 {
              left: 248px;
              top: 0;
            }
            .servicePic4 {
              left: 62px;
              top: 107px;
            }
            .servicePic5{
              left:186px;
              top:107px;
            }
          }
        }
        .valueaddedService{
          width:414px;
          position: relative;
          margin-right:98px;
          ul {
            width: 100%;
            height: 238px;
            margin-left: 53px;
            position: relative;
            li.servicePic {
              div {
                a {
                  h3 {
                    color: #fff;
                    z-index: 999;
                    top: 42px;
                    left: 26px;
                    text-align: center;
                    font: bold 16px/24px "Microsoft YaHei";
                    position: absolute;
                  }
                }
              }
            }
          }

        }
      }
    }


  }


}