@import "variable.scss";
$defaultColor : #3496CF;
body{

  .wrapper{
    width:100%;
    .content{
      @extend .wrapper;
      min-width:1200px;
      max-width:1920px;
      background: #F6F7F7;
      .qulityBanner{
        width:100%;
        height:433px;
        //position: relative;
        background: url(../img/highQulity/img_touzizhe.png) no-repeat center top;

      }
      .investorDetails{
        width:1112px;
        margin:0 auto;
        height:100%;
        padding:48px 44px 0 44px;
        ul{
          width:100%;
          overflow: hidden;
          li{
            width:471px;
            height:78px;
            background: #ffffff;
            float: left;
            padding:42px 30px;
            margin-bottom:22px;
            .date,.news{
              float: left;
            }
            .date{
              width:71px;
              height:71px;
              margin-right:28px;
              text-align: center;
              color:$defaultColor;
              border:$defaultColor solid 1px;
              h1{
                width:100%;
                height:46px;
                font:bolder 40px/46px "MicrosoftYaHei";
                border-bottom:$defaultColor solid 1px;
              }
              span{
                display: block;
                font:normal 12px/25px "MicrosoftYaHei";
              }
            }
            .news{
              width:350px;
              h2{
                color:$titleColor;
                font:$h2Normal;
                height:58px;
              }
              a{
                color:#B0B2B4;
              }
            }
          }
          li.mgr{
            margin-right:50px;
          }
        }
      }
    }


  }

}