@import "variable.scss";
body{

  .wrapper{
    width:100%;
    .content{
      @extend .wrapper;
      min-width:1200px;
      max-width:1920px;
      .qulityBanner{
        width:100%;
        height:466px;
        position: relative;
        background:url(../img/question/img_question.png) no-repeat center top;
        .bannerCenter{
          width: 1200px;
          height:301px;
          margin:0 auto;
          padding-top:134px;
          h1{
            font:$h1;
            padding-left:48px;
            margin-bottom:30px;
            line-height:33px;
            background: url(../img/highQulity/icon_question2.png) no-repeat left center;
          }
          .bannerContent{
            font:$a;
            color:#616F75;
            margin-bottom:61px;
          }
        }


      }
      .questionList{
        width:1200px;
        height:100%;
        margin:0 auto;
        ul{
          li{
            font-size:16px;
            padding-right:20px;
            list-style-type: decimal;
            background: url(../img/highQulity/btn_down.png) no-repeat right 10px;
            h3{
              font:$a;
              width:100%;
              padding-left:36px;
              cursor:pointer;
              color:$titleColor;
              background: url(../img/highQulity/icon_q.png) no-repeat left center;
            }
            .answer{
              color:#5E686C;
              font:normal 16px/30px "MicrosoftYaHei";
              padding:34px 0 55px 0;
            }
          }
        }
      }
    }


  }

}