$height:100px;
$fontsmall:normal 16px/16px "MicrosoftYaHei";
$navfontColor:#606060;
$a:normal 16px/30px "MicrosoftYaHei";
$h1:bolder 28px/28px "MicrosoftYaHei";
$h2:bolder 24px/24px "MicrosoftYaHei";
$h2Normal:normal 16px/24px "MicrosoftYaHei";
$titleColor:#2D2E30;
$ahoverColor:#53983E;